Django~=3.2.10
django-tinymce==3.4.0
elasticsearch==8.1.2
Pillow~=9.3.0
pyodbc==4.0.30
pytz==2019.1
sqlparse==0.4.2
urllib3==1.26.7
requests==2.26.0
django-webpack-loader==1.4.1
psycopg2>=2.9.2 # https://stackoverflow.com/questions/38807296/django-1-9-2-assertionerror-database-connection-isnt-set-to-utc
python-dateutil==2.8.2
django-waitress==0.1.0
waitress==1.4.4
gunicorn==20.1.0
python-environ==0.4.54