certifi==2020.12.5
chardet==3.0.4
Django==2.2.12
django-autocomplete-light==3.8.2
django-composite-field==1.1.0
django-recaptcha==2.0.6
django-revproxy==0.10.0
django-tinymce==2.8.0
django-webpack-loader==0.7.0
elasticsearch==5.5.3
idna==2.8
Pillow==7.1.1
psycopg2==2.8.5
pyodbc==4.0.30
pytz==2019.1
requests==2.22.0
six==1.15.0
sqlparse==0.3.0
urllib3==1.25.8
