{% load static %}

  <div class="row">
    <section class="columns">
      <h3><span class="pyramid-3d"></span> Giza Guided Tours</h3>
      <p>
          Click to select tour, then click "Start Tour".
      </p>
      <div class="row medium-up-2 large-up-4">
        <div class="column tourTeaser">
          <a href="/giza3d/"><div class="tourThumbImage" style="background-image: url('{% static 'images/plateau_tour.jpg' %}')"></div></a>
          <p><a href="/giza3d/">A Walking Tour of the Giza Plateau</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=HJLelGeKN"><div class="tourThumbImage" style="background-image: url('{% static 'images/khafre.png' %}')"></div></a>
          <p><a href="/giza3d/?itemID=HJLelGeKN">Khafre Pyramid</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=rk1QJMeKV"><div class="tourThumbImage" style="background-image: url('{% static 'images/khafre_pyramid_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=rk1QJMeKV">Khafre Pyramid Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=S1r4kzxt4"><div class="tourThumbImage" style="background-image: url('{% static 'images/khafre_valley_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=S1r4kzxt4">Khafre Valley Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=bwZfJsv1_"><div class="tourThumbImage" style="background-image: url('{% static 'images/khufu.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=bwZfJsv1_">Khufu Pyramid</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=JDK1xnnh2"><div class="tourThumbImage" style="background-image: url('{% static 'images/khufu_pyramid_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=JDK1xnnh2">Khufu Pyramid Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=rWtP3ZwbX"><div class="tourThumbImage" style="background-image: url('{% static 'images/khufu_valley_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=rWtP3ZwbX">Khufu Valley Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=2VW2rQtJQ"><div class="tourThumbImage" style="background-image: url('{% static 'images/menkaure.png' %}')"></div></a>
          <p><a href="/giza3d/?itemID=2VW2rQtJQ">Menkaure Pyramid</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=S5CNdsgMA"><div class="tourThumbImage" style="background-image: url('{% static 'images/menkaure_pyramid_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=S5CNdsgMA">Menkaure Pyramid Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=G-k2Ys08L"><div class="tourThumbImage" style="background-image: url('{% static 'images/menkaure_valley_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=G-k2Ys08L">Menkaure Valley Temple</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=r1Q61GxF4"><div class="tourThumbImage" style="background-image: url('{% static 'images/sphinx.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=r1Q61GxF4">Great Sphinx</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=Hk8qJMlY4"><div class="tourThumbImage" style="background-image: url('{% static 'images/sphinx_temple.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=Hk8qJMlY4">Sphinx Temple</a></p>
        </div>

        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=hetepheres"><div class="tourThumbImage" style="background-image: url('{% static 'images/hetepheres.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=hetepheres">Tomb of Queen Hetepheres I</a></p>
        </div>

        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=OjqKEfWtw"><div class="tourThumbImage" style="background-image: url('{% static 'images/meresankh.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=OjqKEfWtw">Tomb of Queen Meresankh III</a></p>
        </div>

        <div class="column tourTeaser">
          <a href="/giza3d/?itemID=g2100"><div class="tourThumbImage" style="background-image: url('{% static 'images/g2100.jpg' %}')"></div></a>
          <p><a href="/giza3d/?itemID=g2100">G2100</a></p>
        </div>

      </div>
    </section>
  </div>
  <div class="row">
    <section class="columns">
      <h3><span class="pyramid-3d"></span> Virtual Tours</h3>
      <div class="row medium-up-2 large-up-4">
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=matterport&m=d42fuVA21To"><div class="tourThumbImage" style="background-image: url('{% static 'images/meresankh.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=matterport&m=d42fuVA21To">The Mastaba Tomb of Queen Mersankh III (G 7530-7540)</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=matterport&m=CaEcwJ7Z2HV"><div class="tourThumbImage" style="background-image: url('{% static 'images/khufukhaf.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=matterport&m=CaEcwJ7Z2HV">The Mastaba Tomb of Khufukhaf (G 7130-7140)</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=sketchfab&id=3b6e5b4b81c1413c880b7598505fab2f"><div class="tourThumbImage" style="background-image: url('{% static 'images/qar.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=sketchfab&id=3b6e5b4b81c1413c880b7598505fab2f">The Mastaba Tomb of Qar (G 7101)</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=sketchfab&id=e894ec57ff86487d83539e9b825c0d5c"><div class="tourThumbImage" style="background-image: url('{% static 'images/idu.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=sketchfab&id=e894ec57ff86487d83539e9b825c0d5c">The Mastaba Tomb of Idu (G 7102)</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=matterport&m=xkMDSQQL1GF"><div class="tourThumbImage" style="background-image: url('{% static 'images/iasen.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=matterport&m=xkMDSQQL1GF">The Mastaba Tomb of Iasen (G 2196)</a></p>
        </div>
        <div class="column tourTeaser">
          <a href="/giza3d/?mode=matterport&m=aSQfQx9Mkyj"><div class="tourThumbImage" style="background-image: url('{% static 'images/neferbauptah.png' %}')"></div></a>
          <p><a href="/giza3d/?mode=matterport&m=aSQfQx9Mkyj">The Mastaba Tomb of Neferbauptah (G 6010)</a></p>
        </div>
      </div>
    </section>
  </div>
