<section id="featureBlock_{{feature-anchor}}" class="feature-block {{feature-block-class}}" data-toggler=".is-collapsed">
  <div class="feature-block__header">
    <h3 class="feature-block__title">
      <i class="icon-{{feature-icon}} icon-padded"></i> {{feature-title}} 
      <a name="{{feature-anchor}}"></a> 
      {{#if feature-counter}}<span class="badge">{{feature-counter}}</span>{{/if}}
    </h3>
    <button class="toggler" data-toggle="featureBlock_{{feature-anchor}}">
      <span class="sr-only">Collapse or Expand</span>
    </button>
  </div>
  <div class="feature-block__body">
    {{> @partial-block}}
    
    {{#if feature-footer}}
    <div class="feature-block__footer">
      <p class="content-footer-info">
        {{#if feature-subpg}}
          <a href="{{root}}item-{{feature-anchor}}.html">View all {{feature-counter}} {{feature-title}} <i class="icon-angle-right"></i></a>
        {{else}}
          <a href="{{root}}full.html#{{feature-anchor}}">View all {{feature-counter}} {{feature-title}} <i class="icon-angle-right"></i></a>
        {{/if}}
        </p>
    </div>
    {{/if}}
  </div>
</section>