<!-- Modal -->

<div class="large reveal modal-inverse photo-gallery-modal" id="gallery1" data-reveal data-v-offset="65">
  
  <h2>Name of this image</h2>
  
  <p>Description of the image duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Donec sed odio dui.</p>
  
  <div class="modal-img-container">
    <img src="{{root}}assets/img/galleryimage1.jpg" alt="appropriate alt">
  </div>
  
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- /Modal -->