{% load static %}

<a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="top-bar-container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<!-- BEGIN TOPBAR -->
<div>
  <div data-options="marginTop:0;" style="width: 100%; z-index: 1003;">
    <div class="top-bar-container" style="width: 100%;">
      <div class="row row-padded">
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
          <button class="icon-bars icon-padded title-bar-title" type="button" data-toggle>Menu</button>
        </div>
        <div class="top-bar" id="main-menu">
          <div class="top-bar-left hide-for-small-only">
            <a class="my-giza-lnk" data-url="{% url 'home' %}">
              <img src="{% static 'images/navlogo.png' %}" alt="Digital Giza at Harvard University. Click for home.">
            </a>
          </div>
          <div class="top-bar-left nav-menu-primary">
            <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown"
              data-alignment="left">
              <li {% if page == 'library' %} class="active" {% endif %}>
                <a class="my-giza-lnk" data-url="{% url 'library' %}">Library</a>
              </li>
              <li {% if section_school %} class="active" {% endif %}>
                <a class="my-giza-lnk" data-url="{% url 'giza-at-school' %}">Giza @ School</a>
              </li>
              <li {% if section_giza3d %} class="active" {% endif %}>
                <a class="my-giza-lnk" data-url="{% url 'giza-3d' %}">Giza 3D</a>
              </li>
              <li {% if section_mygiza %} class="active" {% endif %}>
                {% if user.is_authenticated %}
                <a class="my-giza-lnk" data-url="{% url 'my-giza-landing' %}">My Giza</a>
                <ul class="vertical menu">
                  {% if user.full_name|length %}
                  <li><span class="menu-text-item"><i class="icon-user m-r-qt"></i>{{ user.full_name }}</span></li>
                  {% else %}
                  <li><span class="menu-text-item"><i class="icon-user m-r-qt"></i>{{ user }}</span></li>
                  {% endif %}
                  <li>
                    <a href="/admin/">Dashboard</a>
                  </li>
                  <li><a class="my-giza-lnk" data-url="{% url 'my-giza' 'saved-search-queries' %}">My Saved Search
                      Queries</a>
                  </li>
                  <!-- <li><a href="#" class="my_giza_lnk" data-id='/mygiza/collections/'>Browse Public Collections</a></li> -->
                  <li><a class="my-giza-lnk" data-url="{% url 'my-giza' 'collections' %}">My Giza
                      Collections</a>
                    {% if user_collections|length %}
                    <ul class="vertical menu nested">
                      {% for collection in user_collections|slice:":5" %}
                      <li class="li-indented"><a href="/mygiza/collections/{{collection.slug}}">{{collection.title}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  <li><a class="my-giza-lnk" data-url="{% url 'my-giza' 'lessons' %}">My Lesson Topics</a>
                  </li>
                  <!-- <li class="li-indented"><a href="/mygiza/collections"><em>View all</em></a></li> -->
                  <li><a class="my-giza-lnk sign-out" data-url="{% url 'sign-out' %}">Sign Out</a></li>
                </ul>
                {% else %}
                <a class="my-giza-lnk" data-url="{% url 'my-giza-landing' %}">My Giza</a>
                <ul class="vertical menu">
                  <li><span class="menu-text-item"><em>You are not logged in.</em></span></li>
                  <li><a class='my-giza-lnk modal sign-up' data-url="{% url 'sign-up' %}">Create a MyGiza Account</a>
                  </li>
                  <li><a class='my-giza-lnk modal sign-in' data-url="{% url 'sign-in' %}">Sign In to your MyGIZA
                      Account</a>
                  </li>
                  <li><a class='my-giza-lnk' data-url="{% url 'my-giza-collections-all' %}">Browse
                      Collections</a></li>
                </ul>
                {% endif %}
              </li>
              <li {% if section_about %} class="active" {% endif %}>
                <a class="my-giza-lnk" data-url="{% url 'giza-intro' %}">About</a>
                <ul class="vertical menu">
                  <li><a class="my-giza-lnk" data-url="{% url 'giza-intro' %}">Introduction to Giza</a></li>
                  <li><a class="my-giza-lnk" data-url="{% url 'about' %}">What is the Giza Project?</a></li>
                  <li><a class="my-giza-lnk" data-url="{% url 'archaeology' %}">Archaeology at Giza</a></li>
                </ul>
              </li>
              <li {% if "donate" in page %} class="active" {% endif %}>
                <a href="https://community.alumni.harvard.edu/give/34086571">Donate</a>
              </li>
              <li {% if section_search %} class="active" {% endif %}>
                <form id="search-form">
                  <input type="text" id="simple_search_input" name="query" placeholder="Type to search">
                  <button class="icon-search button my-giza-lnk post" style="border-radius:0px"
                    data-url="{% url 'search_results' %}"></button>
                  <button class="icon-caret-down button" id="openAdvancedSearchPane" type="button"
                    data-toggle="sideMenuContainer"></button>
                </form>

                <div id="sideMenuContainer" class="dropdown-pane" data-position="bottom" data-alignment="left"
                  data-dropdown data-hover="true" data-hover-pane="true" data-responsive-toggle="true">
                  {% include 'search-advanced-accordion.html' %}
                </div>

                <!-- <div id="sideBarTab"> -->
                <!-- <button class="openbtn button primary">Advanced search</button> -->
                <!-- </div> -->

                <!-- <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
                  Example form in a dropdown.
                  <form>
                    <div class="grid-container">
                      <div class="grid-x grid-margin-x">
                        <div class="cell medium-6">
                          <label>Name
                            <input type="text" placeholder="Kirk, James T.">
                          </label>
                        </div>
                        <div class="cell medium-6">
                          <label>Rank
                            <input type="text" placeholder="Captain">
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END TOPBAR -->
<script>
  $(document).ready(() => {

    $(document).foundation()

    // LOAD CATEGORIES FOR ADVANCED SEARCH
    fetch('/search/categories/')
      .then(response => response.json())
      .then(response => $('#html').html(response.html).foundation())

    // $('#simple_search_input').on('keyup', e => {
    //   if (e.keyCode == 13) {

    //     fetch($(e.currentTarget).data('url'), {
    //         method: 'POST',
    //         query: $(e.currentTarget).val(),
    //         headers: new Headers({
    //           'X-CSRFToken': $.cookie('csrftoken')
    //         })
    //       })
    //       .then(response => response.json())
    //       .then(response => {
    //         if (response.success) {
    //           $('#main_content').empty().html(response.html)
    //         }
    //       })
    //   }
  })
</script>