<section class="medium-6 large-3 columns">
  <div class="d-flex flex-v border-left-dark p-l-1 m-r-neg1 m-b-2" data-equalizer-watch>
    <div class="flex-header">
      <h2 class="h2-minor text-medium m-b-1">
        <a class="heading-link" href="{{block-destination}}">
          {{block-title}}
        </a>
      </h2>
    </div>
    <div class="flex-body text-smaller">
      {{> @partial-block}}
    </div>
    <div class="flex-footer">
      <div class="row">
        <div class="columns small-12 md-phone-6 medium-12 lg-tablet-8 large-12">
          <a href="/{{block-destination}}" class="button primary expanded m-b-0">
            {{block-button}} <i class="icon-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>