<h5 class="heading-em">MyGiza:</h5>

<p>
  <a data-open="add_collection">
    <span class="icon-plus-circle icon-fw"></span> Add this to a collection 
  </a>
</p>

<h5 class="heading-em">Jump to:</h5>

<ul class="vertical menu show-for-small-only">
  <li>
    <a href="#details">
      <span class="icon-info-circle icon-fw"></span> Details
    </a>
  </li>
  <li>
    <a href="#objects">
      <span class="icon-vase icon-fw"></span> Finds 
      <span class="badge">1</span>
    </a>
  </li>
  <li>
    <a href="#diary">
      <span class="icon-sticky-note-o icon-fw"></span> Excavation Diary Pages 
      <span class="badge">6</span>
    </a>
  </li>
  <li>
    <a href="#maps">
      <span class="icon-map-o icon-fw"></span> Maps &amp; Plans 
      <span class="badge">5</span>
    </a>
  </li>
  <li>
    <a href="#drawings">
      <span class="icon-pencil-square-o icon-fw"></span> Drawings 
      <span class="badge">9</span>
    </a>
  </li>
  <li>
    <a href="#published">
      <span class="icon-book icon-fw"></span> Published Documents 
      <span class="badge">12</span>
    </a>
  </li>
  <li>
    <a href="#unpublished">
      <span class="icon-file-text-o icon-fw"></span> Unpublished Documents 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#biblio">
      <span class="icon-info-circle icon-fw"></span> Full Bibliography 
      <span class="badge">48</span>
    </a>
  </li>
  <li>
    <a href="#photos">
      <span class="icon-camera icon-fw"></span> Photos 
      <span class="badge">248</span>
    </a>
  </li>
  <li>
    <a href="#models">
      <span class="icon-pyramid-3d icon-fw"></span> 3D Models 
      <span class="badge">1</span>
    </a>
  </li>
  <li>
    <a href="#videos">
      <span class="icon-video-camera icon-fw"></span> Videos 
      <span class="badge">3</span>
    </a>
  </li>
  <li>
    <a href="#audio">
      <span class="icon-volume-up icon-fw"></span> Audio 
      <span class="badge">2</span>
    </a>
  </li>
  <li>
    <a href="#people">
      <span class="icon-user icon-fw"></span> People 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#institutions">
      <span class="icon-university icon-fw"></span> Institutions 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#groups">
      <span class="icon-users icon-fw"></span> Groups 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#animals">
      <span class="icon-paw icon-fw"></span> Animals 
      <span class="badge">1</span>
    </a>
  </li>
</ul>

<ul class="vertical menu show-for-medium">
  <li>
    <a href="#details">
      <span class="icon-info-circle icon-fw"></span> Details
    </a>
  </li>
  <li>
    <a href="#objects">
      <span class="icon-vase icon-fw"></span> Finds 
      <span class="badge">1</span>
    </a>
  </li>
  <li>
    <a href="#diary">
      <span class="icon-sticky-note-o icon-fw"></span> Excavation Diary Pages 
      <span class="badge">6</span>
    </a>
  </li>
  <li>
    <a href="#maps">
      <span class="icon-map-o icon-fw"></span> Maps &amp; Plans 
      <span class="badge">5</span>
    </a>
  </li>
  <li>
    <a href="#drawings">
      <span class="icon-pencil-square-o icon-fw"></span> Drawings 
      <span class="badge">9</span>
    </a>
  </li>
  <li>
    <a href="#photos">
      <span class="icon-camera icon-fw"></span> Photos 
      <span class="badge">248</span>
    </a>
  </li>
  <li>
    <a href="#models">
      <span class="icon-pyramid-3d icon-fw"></span> 3D Models 
      <span class="badge">1</span>
    </a>
  </li>
  <li>
    <a href="#videos">
      <span class="icon-video-camera icon-fw"></span> Videos 
      <span class="badge">3</span>
    </a>
  </li>
  <li>
    <a href="#audio">
      <span class="icon-volume-up icon-fw"></span> Audio 
      <span class="badge">2</span>
    </a>
  </li>
  <li>
    <a href="#people">
      <span class="icon-user icon-fw"></span> People 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#institutions">
      <span class="icon-university icon-fw"></span> Institutions 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#groups">
      <span class="icon-users icon-fw"></span> Groups 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#animals">
      <span class="icon-paw icon-fw"></span> Animals 
      <span class="badge">1</span>
    </a>
  </li>
  <li>
    <a href="#published">
      <span class="icon-book icon-fw"></span> Published Documents 
      <span class="badge">12</span>
    </a>
  </li>
  <li>
    <a href="#unpublished">
      <span class="icon-file-text-o icon-fw"></span> Unpublished Documents 
      <span class="badge">4</span>
    </a>
  </li>
  <li>
    <a href="#biblio">
      <span class="icon-info-circle icon-fw"></span> Full Bibliography 
      <span class="badge">48</span>
    </a>
  </li>
</ul>