{% load static %}

<div class="topic-blurb">
  {% if lesson.title %}
  <div class="topic-blurb-header">
    <h3>
      <a href="/lessons/{{lesson.slug}}">
        {{lesson.title}}
      </a>
      {% if lesson.anchor %}
        <a name="{{lesson.anchor}}"></a>
      {% endif %}
    </h3>
  </div>
  {% endif %}
  {{ lesson }}
  <div class="topic-blurb-body">

    <div class="topic-blurb-image">
      <!--
      {% include 'mygiza-collection-thumb.html' with images_1="topic-collection-images1" images_4="topic-collection-images4" images_9="topic-collection-images9" offset="topic-collection-offset" caption=False %}
      -->
      <div class="collection-thumb">
        <div class="collection-thumb-grid grid-images-1">
          <div class="grid-image">
            {% if lesson.picture %}
            <img src="{% get_media_prefix %}{{lesson.picture}}">
            {% else %}
            <img src="{% static 'images/thumb-default.png' %}">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="topic-blurb-text">
      <p>
      {{lesson.summary|truncatewords:24}}
      </p>
      <div class="topic-blurb-footer">
        <a class="text-bold pointer-fwd" href="/lessons/{{lesson.slug}}">View topic</a>
      </div>
    </div>
  </div>
</div>
