<div class="topic-blurb">
  {% if topic_title %}
  <div class="topic-blurb-header">
    <h3>
      <a href="/{{topic_url}}">
        {{topic_title}}
      </a>
      {% if topic_anchor %}
      <a name="{{topic_anchor}}"></a>
      {% endif %}
    </h3>
  </div>
  {% endif %}
  <div class="topic-blurb-body">

    <div class="topic-blurb-image">
      {% include 'partials/mygiza-collection-thumb.html' with images_1="topic-collection-images1" images_4="topic-collection-images4" images_9="topic-collection-images9" offset="topic-collection-offset" caption=False %}
    </div>
    <div class="topic-blurb-text">
