{% load static %}

<!-- Modal: Image Gallery -->
<!-- 
<div class="large reveal modal-inverse photo-gallery-modal" id="gallery1" data-reveal data-v-offset="65">

  <h2>Name of this image</h2>

  <p>Description of the image duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
    elit. Sed posuere consectetur est at lobortis. Donec sed odio dui.</p>

  <div class="modal-img-container">
    <img src="{% static 'images/galleryimage1.jpg' %}" alt="appropriate alt">
  </div>


  {% include 'close-button.html' with label="Close modal" %}
</div> -->

<!-- /Modal: Image Gallery -->


<!-- SIGN UP/IN MODAL -->
<div class="reveal modal sign_up-reveal" id="sign_modal" data-reveal>
  {% include 'user-sign-navbar.html' %}
  <div class="auth-form sign_form" id="sign_modal_form"></div>
</div>

<!-- SEARCH RESULT VIEWING MODAL -->
<div class="record-details modal search_result_modal-reveal" data-multiple-opened="true" id="search_result_modal" data-reveal>
  <div class="search_result_form" id="search_result_modal_form"></div>
</div>

<!-- COLLECTION ADD/EDIT MODAL -->
<div class="reveal modal collection_edit-reveal" data-multiple-opened="true" id="collection_modal" data-reveal>
  <div class="collection_form" id="collection_modal_form"></div>
</div>

<!-- SAVED SEARCH MODAL -->
<div class="reveal modal saved_search_modal-reveal" data-multiple-opened="true" id="saved_search_modal" data-reveal>
  <div class="saved_search_form" id="saved_search_modal_form"></div>
</div>

<!-- LESSON MODAL -->
<div class="reveal modal lesson_modal-reveal" data-multiple-opened="true" id="lesson_modal" data-reveal>
  <div class="lesson_form" id="lesson_modal_form"></div>
</div>

<!-- MODAL: ADD TO COLLECTION -->
<!-- <div class="reveal modal add-reveal" id="add_collection" data-reveal>

</div> -->

<!-- Modal: Email Collection -->
<!-- <div class="reveal modal email-reveal" id="email_collection" data-reveal>
  <span class="title">Email ‘My Latest Project’ Collection</span>
  <form class="new_form" action="#">
    <div class="email-wrap">
      <label for="emailing">Email address:</label>
      <div class="input-wrap">
        <input type="email" id="emailing">
      </div>
    </div>
    <div class="check-wrap">
      <label class="custom-checkbox">
        <input type="checkbox">
        <span class="fake-input"></span>
        Make Collaborator
      </label>
      <p class="text-right">
        <button type="submit" class="button">Send Email</button>
      </p>
    </div>
  </form>
  <div class="collaborators">
    <span class="title">Current Collaborators <i class="fas fa-info-circle"></i></span>
    <ul>
      <li data-closable class="callout alert-callout-subtle default">
        <span class="text">Heather ONeill</span>
        <span class="text"><a href="#">heather@pixelsforhumans.com</a></span>
        <a href="#" class="close-button" aria-label="Dismiss alert" data-close>
          <span aria-hidden="true">&times;</span>
        </a>
      </li>
      <li data-closable class="callout alert-callout-subtle default">
        <span class="text">Nicholas Picardo</span>
        <span class="text"><a href="#">npicardo@fas.harvard.edu </a></span>
        <a href="#" class="close-button" aria-label="Dismiss alert" data-close>
          <span aria-hidden="true">&times;</span>
        </a>
      </li>
      <li data-closable class="callout alert-callout-subtle default">
        <span class="text">Luke Hollis</span>
        <span class="text"><a href="#">luke@archimedes.digital</a></span>
        <a href="#" class="close-button" aria-label="Dismiss alert" data-close>
          <span aria-hidden="true">&times;</span>
        </a>
      </li>
    </ul>
  </div>
  {% include 'close-button.html' with label="Close modal" %}
</div> -->

<!-- /Modal: Email Collection -->





<!-- MODAL: EDIT COLLECTION -->
<div class="reveal modal add-reveal" id="edit_collection" data-reveal>
  <div id="edit_collection_form"></div>
</div>