<!-- MET (Multilingual Egyptological Thesaurus) search -->
<div class="reveal modal met-search" id="MET-search" data-reveal>
  <span class="title">Multilingual Egyptological Thesaurus (MET) search</span>
  <span class="met-title">MET Attribute:</span>
  <ul class="vertical menu" data-responsive-menu="drilldown" data-alignment="left">
    <li>
      <a href="#">01-Present location <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">01-Present location</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#" class="selected-item"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#" class="selected-item"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="li-active">
      <a href="#">02-Category <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">02-Category</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term" accesskey="4">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Accessory (including regalia) <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#" class="selected-item"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#" class="selected-item"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Giza Cemetery <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">05-Material <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">05-Material</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">06-Technique <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">06-Technique</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Accessory (including regalia) <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Giza Cemetery <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">07-State of preservation <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">07-State of preservation</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Accessory (including regalia) <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Giza Cemetery <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">08-Description <i class="fas fa-chevron-right"></i></a>
      <ul class="vertical menu">
        <li>
          <span class="drop-title show-for-small-only">08-Description</span>
          <form action="#" class="search_form">
            <input type="search" placeholder="Search for a term">
            <button type="submit" class="hide-for-small-only"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li>
          <ul class="accordion" data-accordion>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Accessory (including regalia) <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item is-active" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architecture <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Architectural element <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Architectural Unit <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Giza Cemetery <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item data-multi-expand="true">
              <a href="#" class="accordion-title"><i class="fas fa-chevron-right"></i>Eastern Cemetry <span class="add-icon"></span></a>
              <div class="accordion-content" data-tab-content>
                <ul>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Ceiling <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>False Door <span class="add-icon"></span></a></li>
                  <li><a href="#"><i class="fas fa-chevron-right"></i>Wall <span class="add-icon"></span></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="selection-filter-col">
    <span class="met-title hide-for-small-only">Selected (2):</span>
    <ul class="selected-items-list">
      <li><a href="#">Architectural element <span class="ico"></span></a></li>
      <li><a href="#">False Door <span class="ico"></span></a></li>
    </ul>
    <ul class="filter-list show-for-small-only">
      <li><a href="#">All terms</a></li>
      <li><a href="#">Selected (2)</a></li>
    </ul>
    <p class="text-right"><button class="button" data-close>Done</button></p>
  </div>
  {{> close-button label="Close modal"}}
</div>