<div class="collection-thumb">
  {{#if images-1}}
  <div class="collection-thumb-grid grid-images-1">
    {{#limit images-thumb limit="1" offset=offset}}
    <div class="grid-image">
      <img src="{% static 'assets/images/example-data/thumb/{{file}}' %}">
    </div>
    {{/limit}}
  </div>
  {{/if}}
  {{#if images-4}}
  <div class="collection-thumb-grid grid-images-4">
    {{#limit images-thumb limit="4" offset=offset}}
    <div class="grid-image">
      <img src="{% static 'assets/images/example-data/thumb/{{file}}' %}">
    </div>
    {{/limit}}
  </div>
  {{/if}}
  {{#if images-9}}
  <div class="collection-thumb-grid grid-images-9">
    {{#limit images-thumb limit="9" offset=offset}}
    <div class="grid-image">
      <img src="{% static 'assets/images/example-data/thumb/{{file}}' %}">
    </div>
    {{/limit}}
  </div>
  {{/if}}
  {{#if caption}}
  <div class="collection-thumb-caption">
    <h6 class="collection-thumb-title">
      {{collection-title}}
    </h6>
    <div class="collection-thumb-meta">
      {{collection-count}} items
    </div>
  </div>
  {{/if}}
</div>