<!-- MODAL: NEW COLLECTION -->
<div id="new_collection">
    <span class="title">Add a New MyGiza Collection</span>
    {{ collection_form.as_p }}
    <button id="new_collection_btn" class="button">Create</button>
</div>
<script>
    $(document).ready(() => {
        $('#new_collection_btn').on('click', () => {
            $.post({
                url: '/mygiza/collections/create/',
                data: { 'title' : $('#id_title').val() },
                success: response => {
                    if (response.success) {
                        $('#MyGIZAdiv').empty().html(response.html)
                        $('#new_collection').foundation('close')
                        console.log('new collection made')
                    }
                }
            })
        })
    })
</script>