{% load search_tags %}
<div class="medium-6 columns">
  <h3 class="heading-alt m-t-half m-b-1">
    {% if search.result.total == 10000 %} 
      Your query reached the limit of 10,000 results. Please refine your query. 
    {% else %}
      {{ search.result.total }} {{ search.category|ending:search.result.total }}
      {% if search.fields.items|length %} for
        {% for key, value in search.fields.items %}
          {% if not '_ms' in key %}
            {% if search.fields|length == 1 %}
              "{{ value }}"
              {# {% if search.MET.MET_paths|length %} #}
              {# (with MET term  #}
              {# {% for term in search.MET.MET_paths %} #}
                {# {{ term.term }} #}
              {# {% endfor%} #}
              {# }. #}
              {# {% else %} #}
              {# }. #}
  {#            {% endif %} #}
              .
            {% else %} 
              {% if forloop.first %}
                "{{ value }}"
              {% elif forloop.last %}
                and "{{ value }}".
              {% else %}
              "{{ value }}",
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </h3>
  {% if search_terms.facetNames|length %}
    <h6 class=search-facet-title>(Facet{{search_terms.facetNames|length|pluralize}}: 
    {% for value in search_terms.facetNames %}
      {% if search_terms.facetNames|length == 1 %}
        "{{ value }}")
      {% else %}
        {% if forloop.first %}
          "{{ value }}",
        {% elif forloop.last %}
          and "{{ value }}")
        {% else %}
          "{{ value }}",
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  </h6>
  </div>

  {% if search.result.sort_options|length %}
    <div class="medium-6 columns text-right">
      <label for="sortResults" class="d-inline-block middle m-r-qt">Sort:</label>
      <div class="d-inline-block img-fluid-mw150">
        <select id="sortResults">
          {% for option in search.result.sort_options %}
            <option value="{{ option }}" {% if option == search.result.sort %} selected {% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- <ul class="d-inline-block sort-order p-y-qt m-l-1 hide-for-small-only">
        <li>
          <a href="#">
            <i class="fa fa-fw fa-arrow-down"></i><span class="sr-only">Desc</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-fw fa-arrow-up"></i><span class="sr-only">Asc</span>
          </a>
        </li>
      </ul> -->
      <ul class="d-inline-block view-switcher p-y-qt m-l-1 hide-for-small-only">
        <li><a href="#" id="switch_results_list_view" class="switcher"><i class="fa fa-fw fa-align-justify"></i><span class="sr-only">List</span></a></li>
        <li><a href="#" id="switch_results_icon_view" class="switcher"><i class="fa fa-fw fa-th-large"></i><span class="sr-only">Grid</span></a></li>
      </ul>
    </div>
  {% endif %}