<div class="share-links {{class}}">
  <div class="share-links__text">
    Share:
  </div>
  <ul class="no-bullet share-links__icons">
    <li>
      <a class="share-email" href="mailto:?subject=Saved search={{email_modal}}">
        <i class="icon-envelope-square"></i>
      </a>
    </li>
    <li>
      <a class="share-facebook" href="{{facebook_link}}">
        <i class="icon-facebook-square"></i>
      </a>
    </li>
    <li>
      <a class="share-twitter" href="{{twitter_link}}">
        <i class="icon-twitter-square"></i>
      </a>
    </li>
    <li>
      <a class="share-instagram" href="{{instagram_link}}">
        <i class="icon-instagram"></i>
      </a>
    </li>
    <li>
      <span>
        {{ request.get_host|add:"/search/lookup?token="|add:search.key }}
      </span>
    </li>
  </ul>
</div>
