{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Reset password",
%}

{% block title %}{{ "Reset password" }}{% endblock %}

{% block 'content' %}
{% if validlink %}

<div class="home-hero-container">
  <div class="row row-padded">


<h1>Set a new password</h1>
<form>
  {% csrf_token %}
  {{ form.as_p }}
  <a class="my-giza-lnk post password-reset" data-url="{% url 'confirm-password' token %}">Update password</a>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
</div>
</div>


{% endif %}

{% endblock %}