{% load i18n %}
{% load static %}
{% autoescape off %}
<!DOCTYPE html>
<html>

<body>
    <div>
        Dear {{ user.first_name }},
        <br>
        <br>
        You're receiving this email because you signed up for a MyGiza account at <a href='{{ domain }}'>{{ site_name }}</a>.
        <p>
            {% trans "If you did not request a MyGiza account please disregard this email; the security of your email account is not compromised." %}
        </p>
        <br>
        {% trans "Please follow" %} <a href="http://{{ domain }}{% url 'sign-up-activate' uidb64=uid token=token %}">this
            link</a>
        to activate your
        account.
        <br>
        <br>
        If that link does not work, please copy and paste the text below into a new browser window:
        <br>
        <br>
        http://{{ domain }}{% url 'sign-up-activate' uidb64=uid token=token %}.
        <br>
        Please complete the sign up process within the next hour as your activation link will expire.
        <br>
        {% trans "Your username is this email address." %}
        <br>
        <br>
        {% trans "Thanks for using Digital Giza: your portal to the Giza Plateau!" %}
        <br>
        <br>
        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
    </div>
</body>

</html>
{% endautoescape %}