{% block content %}
  <h3>Hi {{ user.first_name }}</h3>
  <br>
  <p>We've sent instructions to reset your password to your email address ({{ user.email }})</p>
  <br>
  <p>You should receive an email from us within the next couple of minutes and you should complete your password reset within the next hour.</p>
  <p>Make sure you check your spam folder!</p>
  <p>If you did not receive the instruction email from us, try <a class="my-giza-lnk modal" data-url="{% url 'forgot-password' %}">resetting your password</a> again.</p>
{% endblock %}