elasticsearch==8.1.2
pyodbc==4.0.30
requests==2.26.0
Cython==0.29.32
pymssql==2.2.7
attrs==22.1.0
python-dateutil==2.8.2
python-environ==0.4.54
pytz==2022.7
Pillow==9.2.0
tqdm==4.64.1

# pytz==2019.1
# sqlparse==0.4.2
# urllib3==1.26.7

# psycopg2>=2.9.2 # https://stackoverflow.com/questions/38807296/django-1-9-2-assertionerror-database-connection-isnt-set-to-utc
