---
title: About the Giza Project
section: about
section-about: true
---

<!-- BEGIN MAIN CONTENT ROWS -->
    
  <div class="page-header header-bg-6" id="content">
    <div class="row title">
      <header class="large-12 columns">
        <h1>{{title}} <a name="top"></a></h1>
      </header> 
    </div>
  </div>
   
    <div class="row">
      <aside class="medium-4 medium-push-8 columns">
        <div class="feature-block secondary">
          <h5><span class="icon-list icon-padded"></span> Contents</h5>
          <ul class="menu vertical">
            <li><a href="#about">About the Giza Project</a></li>
            <li><a href="#staff">Giza Project Staff</a></li>
            <li><a href="#partner">Partner Institutions</a></li>
            <li><a href="#ack">Acknowledgements</a></li>
          </ul>
        </div>
      </aside>
      
      <section class="medium-8 medium-pull-4 columns">
        <h3>About the Giza Project<a name="about"></a></h3>
        <p>The Giza Project began in 2000 at the Museum of Fine Arts, Boston, with the goal of digitizing all of the archaeological documentation from the Museum of Fine Arts, Boston – Harvard University expedition to Giza, Egypt (circa. 1904-1947) and making that information freely available online for anyone to use. Since moving to Harvard in 2011, the Project has expanded its scope, partnering with other institutions around the world that excavated at Giza, to bring together as much data as possible about this complex site. The process of integrating and standardizing all of these records is ongoing.</p>
        <p>In addition, the Project has utilized this vast quantity of information to begin building a 3D virtual reconstruction of the Giza Plateau as it may have looked when first built, providing new ways to sightsee, explore, and learn about the pyramids and their surrounding cemeteries. To date, we have modeled approximately 20 tombs and monuments in detail, with many hundreds more still to be done.</p>
        <p>With support from the National Endowment for the Humanities, we are currently developing Digital Giza, a website which seeks to integrate this virtual environment with more than a hundred years of scholarly research about Giza, using cutting edge technology to study the distant past and preserve knowledge about this important cultural heritage site for the future. We continue to explore and develop new interactive ways to experience ancient Giza, including virtual and augmented reality apps, 3D printing of ancient artifacts, and online teaching initiatives. </p>
        <p>For more information about how you can support the Giza Project, please see our <a href="donate.html">support page</a>.</p>
        <p><a class="back-to-top-link" href="#top">Back to top</a></p>
        
        <h3>Giza Project Staff<a name="staff"></a></h3>
        <p><strong>Peter Der Manuelian</strong>, Philip J. King Professor of Egyptology and Giza Project Director</p>
        <p><strong>Nicholas Picardo</strong>, Research Associate</p>
        <p><strong>Rachel Aronin</strong>, Research Associate</p>
        <p><strong>Jeremy Kisala</strong>, Research Assistant</p>
        <p><strong>David Hopkins</strong>, Technical Artist</p>
        <p><a class="back-to-top-link" href="#top">Back to top</a></p>

        <h3>Partner Institutions<a name="partner"></a></h3>
        <p>The Giza Project brings together archival holdings from a number of institutions, including:</p>
        <ul>          
          <li>The Ägyptisches Museum der Universität Leipzig (Germany)</li>
          <li>The Berlin Ägyptisches Museum (Germany)</li>
          <li>The Egyptian Museum, Cairo (Egypt)</li>
          <li>The Grand Egyptian Museum (Egypt)</li>
          <li>The Kunsthistorisches Museum, Vienna (Austria)</li>
          <li>The Museo Egizio, Turin (Italy)</li>
          <li>The Museum of Fine Arts, Boston (USA)</li>
          <li>The Peabody Museum of Archaeology and Ethnology, Harvard University (USA)</li>
          <li>The Phoebe A. Hearst Museum of Anthropology, University of California, Berkeley (USA)</li>
          <li>The Roemer- und Pelizaeus-Museum, Hildesheim (Germany)</li>
          <li>The University of Pennsylvania Museum of Archaeology and Anthropology, Philadelphia (USA)</li>
        </ul>
        <p><a class="back-to-top-link" href="#top">Back to top</a></p>

        <h3>Acknowledgements<a name="ack"></a></h3>
        <p>The Giza Project gratefully acknowledges current and past support from the following organizations:</p>
        <ul>
          <li>The National Endowment for the Humanities</li>
          <li>Harvard University</li>
          <li>Microsoft</li>
          <li>Dassault Systèmes</li>
          <li>Leon Levy Foundation</li>
          <li>The Museum of Fine Arts, Boston</li>
          <li>Andrew W. Mellon Foundation</li>
        </ul>
        <p><a class="back-to-top-link" href="#top">Back to top</a></p>
      </section>
      
    </div>
  
