{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "The Giza Project Blog",
  section: "about",
  section_about: true
%}

<!-- BEGIN MAIN CONTENT ROWS -->


{% block 'page_headers' %}
  {% include 'page-header.html' with bg="6" title="The Giza Project Blog" %}
{% endblock  %}

{% block 'main_content' %}
  <div class="row">
    <aside class="medium-4 medium-push-8 columns">
      <div class="feature-block secondary">
        <h5><span class="icon-list icon-padded"></span> Posts by Topic</h5>
        <ul class="menu vertical">
          <li><a href="#">Egyptian Geography <span class="secondary badge">13</span></a></li>
          <li><a href="#">Old Kingdom <span class="secondary badge">32</span></a></li>
          <li><a href="#">Pyramid Complexes <span class="secondary badge">91</span></a></li>
          <li><a href="#">Boats <span class="secondary badge">4</span></a></li>
          <li><a href="#">Egyptian funerary beliefs <span class="secondary badge">36</span></a></li>
          <li><a href="#">Mummies <span class="secondary badge">10</span></a></li>
          <li><a href="#">Women at Giza <span class="secondary badge">2</span></a></li>
          <li><a href="#">Writing/Hieroglyphs <span class="secondary badge">6</span></a></li>
          <li><a href="#">Gods and Goddesses <span class="secondary badge">42</span></a></li>
          <li><a href="#">See All Topics &gt; </a></li>
        </ul>
      </div>
      <div class="feature-block secondary">
        <h5><span class="icon-list icon-padded"></span> Recent Posts</h5>
        <ul class="menu vertical">
          <li><a href="#">Most Recent Awesome Post 1</a></li>
          <li><a href="#">Giza Pyramid Complexities part 1 of 2</a></li>
          <li><a href="#">Old Kingdom myths debunked</a></li>
          <li><a href="#">More blog post titles that are long and detailed</a></li>
          <li><a href="#">Most Recent Awesome Post 1</a></li>
          <li><a href="#">Giza Pyramid Complexities part 1 of 2</a></li>
          <li><a href="#">Old Kingdom myths debunked</a></li>
          <li><a href="#">More blog post titles that are long and detailed</a></li>
          <li><a href="#">Most Recent Awesome Post 1</a></li>
          <li><a href="#">Giza Pyramid Complexities part 1 of 2</a></li>
          <li><a href="#">Old Kingdom myths debunked</a></li>
          <li><a href="#">More blog post titles that are long and detailed</a></li>
          <li><a href="#">Most Recent Awesome Post 1</a></li>
          <li><a href="#">Giza Pyramid Complexities part 1 of 2</a></li>
          <li><a href="#">Old Kingdom myths debunked</a></li>
          <li><a href="#">More blog post titles that are long and detailed</a></li>
          <li><a href="#">Most Recent Awesome Post 1</a></li>
          <li><a href="#">Giza Pyramid Complexities part 1 of 2</a></li>
          <li><a href="#">Old Kingdom myths debunked</a></li>
          <li><a href="#">More blog post titles that are long and detailed</a></li>
        </ul>
      </div>
    </aside>

    <section class="medium-8 medium-pull-4 columns">
      <article>
        <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="sampleblogpost.html">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <article>
               <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="#">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <article>
                <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="#">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <article>
                <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="#">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <article>
                <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="#">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <article>
                <div class="feature-block__header">
 <h3 class="feature-block__title"><a href="#">Blog Post Title</a></h3>
</div>
        <p class="subheader"><strong class="author">Author Name</strong> |
          <span class="date">Date of publication</span>
          </p>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
            </div>
          </div>
          <div class="media-object-section">
            <p>Intro blog post blurb goes here. Pyramids were the burial places for Egyptian royalty during the Old Kingdom. The three large pyramids at Giza were built for three generations of Egyptian kings: Khufu, his son Khafre, and his grandson Menkaure. Each intro should take up at least 4 lines of text.  <a href="/sampleblogpost/">Read More &gt;</a></p><br>&nbsp;
          </div>
        </div>
      </article>
      <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
      </ul>
    </section>

  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
