{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Sample Diary Page",
  section: "explore",
  section_explore: true,
  bodyclasses: "header-full mode-full",
  class: "p-t-0"
%}

<!-- BEGIN MAIN CONTENT ROWS -->
{% block 'page_headers' %}
  {% include 'page-header.html' with bg="1" %}
{% endblock  %}

{% block 'main_content' %}
  <!-- row -->


  <div class="row content-start">

    <section class="large-8 columns content-col-primary">

      <div class="row page-navigation-container">
        <div class="large-4 columns large-push-8">
          <div class="page-navigation">

            <div class="title-bar" data-responsive-toggle="jumpmenu" data-hide-for="medium">
              <button class="icon-bars icon-padded title-bar-title" type="button" data-toggle>Jump to...</button>
            </div>

            <div class="feature-block secondary" id="jumpmenu">
              <div class="feature-block__body">

                <!--
                <div class="view-mode-toggle">
                  <h5 class="heading-em">Show:</h5>
                  <div class="button-group">
                    <a class="secondary button" href="/intro/">Intro View</a>
                    <a class="primary button">Full View</a>
                  </div>
                </div>
                -->

                {% include 'jump-menu-diary.html' %}

              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="item__featured-image">
        <img src="{% static 'images/object-example-tall.jpg' %}" alt="appropriate alt">
      </div>

      <div class="item__overview text-alt">

        <h5>Translation:</h5>

        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
        </p>

        <p>
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.
        </p>

        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.
        </p>

      </div>


      {% include 'feature-block-start.html' with feature_title="Details" feature_block_class="collapsible" feature_icon="info-circle" feature_anchor="details" %}
        <ul class="feature-block__list multicol-2">
        {% for x in details %}
          <li>
            {% include 'list-item-textinfo.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Tombs and Monuments" feature_block_class="collapsible" feature_icon="map-marker" feature_anchor="tombs" %}
        <ul class="feature-block__list multicol-2 thumbsize-sm thumbs-square">
        {% for x in sites %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Objects" feature_block_class="collapsible" feature_icon="vase" feature_counter="11" feature_anchor="objects" %}
        <ul class="feature-block__list multicol-2 thumbsize-sm thumbs-square">
        {% for x in objects %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Drawings" feature_block_class="collapsible" feature_icon="pencil-square-o" feature_counter="11" feature_anchor="drawings" %}
        <ul class="feature-block__list multicol-2 thumbsize-sm thumbs-square">
        {% for x in drawings %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Published Documents" feature_block_class="collapsible" feature_icon="book" feature_counter="12" feature_anchor="published" %}
        <ul class="feature-block__list multicol-2">
        {% for x in published-docs %}
          <li>
            {% include 'list-item-document.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}

    </section>

    <section class="large-4 columns content-col-secondary">

      {% include 'feature-block-start.html' with feature_title="Photos" feature_block_class="secondary collapsible" feature_icon="camera" feature_counter="248" feature_anchor="photos" feature_footer="true" %}
        <ul class="feature-block__list item-grid thumbsize-sm thumbs-square">
        {{#limit photos limit=15}}
          <li>
            {% include 'list-item-thumbonly.html' %}
          </li>
        {{/limit}}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Videos" feature_block_class="secondary collapsible" feature_icon="video-camera" feature_counter="3" feature_anchor="videos" %}
        <ul class="feature-block__list multicol-2 thumbsize-lg">
        {% for x in videos %}
          <li>
            {% include 'list-item-thumbcaption.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Audio" feature_block_class="secondary collapsible" feature_icon="volume-up" feature_counter="2" feature_anchor="audio" %}
        <ul class="feature-block__list">
        {% for x in audio %}
          <li>
            {% include 'list-item-mediacaption.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="People" feature_block_class="secondary collapsible" feature_icon="user" feature_counter="4" feature_anchor="people" %}
        <h4>Ancient People</h4>

        <ul class="feature-block__list thumbsize-sm thumbs-square no-labels first-property-bold">
        {% for x in ancient-people %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>

        <h4>Modern People</h4>

        <ul class="feature-block__list thumbsize-sm thumbs-square no-labels first-property-bold">
        {% for x in modern-people %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Institutions" feature_block_class="secondary collapsible" feature_icon="university" feature_counter="1" feature_anchor="institutions" %}
        <ul class="feature-block__list thumbsize-sm thumbs-square no-labels first-property-bold">
        {% for x in institutions %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Groups" feature_block_class="secondary collapsible" feature_icon="users" feature_counter="1" feature_anchor="groups" %}
        <ul class="feature-block__list thumbsize-sm thumbs-square no-labels first-property-bold">
        {% for x in groups %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


      {% include 'feature-block-start.html' with feature_title="Animals" feature_block_class="secondary collapsible" feature_icon="paw" feature_counter="1" feature_anchor="animals" %}
        <ul class="feature-block__list thumbsize-sm thumbs-square no-labels first-property-bold">
        {% for x in animals %}
          <li>
            {% include 'list-item-thumbnail.html' %}
          </li>
        {% endfor %}
        </ul>
      {% include 'feature-block-end.html' %}


    </section>

  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
