{% extends 'layouts/default.html' %}
{% load static %}


{% block 'title' %}
Giza 3D
{% endblock %}

{% block 'section' %}
giza3d
{% endblock %}

{% block 'section_giza3d' %}
true
{% endblock %}

{% block 'page_headers' %}
  {% include 'partials/page-header.html' with bg="1" title="Giza 3D" %}
{% endblock  %}

{% block 'main_content' %}
  <!-- BEGIN MAIN CONTENT ROWS -->
  <div class="row">
    <div class="large-12 columns">
      <img src="{% static 'images/giza3d.png' %}" alt="Giza 3D">
      <p>Explore the model of the whole Giza Plateau; you will find links to other models inside. Or choose from individual models below.</p>
    </div>
  </div>
  <div class="row">
    <section class="columns">
      <h3><span class="pyramid-3d"></span> Models</h3>
      <div class="row medium-up-2 large-up-4">
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
        <div class="column">
          <a href="#"><img src="{% static 'images/giza3dthumb.png' %}" alt=""></a>
          <p><a href="#">Caption for 3D Model</a></p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
