---
title: Giza 3D
section: giza3d
section-giza3d: true
---

<!-- BEGIN MAIN CONTENT ROWS -->

  <div class="page-header header-bg-1" id="content">
    <div class="row title">
      <header class="large-12 columns">
        <h1>{{title}} <a name="top"></a></h1>
      </header> 
    </div>
  </div>
    
    <div class="row">
      <div class="large-12 columns">
        <img src="{{root}}assets/img/giza3d.png" alt="Giza 3D">
        <p>Explore the model of the whole Giza Plateau; you will find links to other models inside. Or choose from individual models below.</p>
      </div>
    </div>
    <div class="row">
      <section class="detailblock">
        <h3><span class="pyramid-3d"></span> Models</h3>
        <div class="row medium-up-2 large-up-4">
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
          <div class="column">
            <a href="#"><img src="{{root}}assets/img/giza3dthumb.png" alt=""></a>
            <p><a href="#">Caption for 3D Model</a></p>
          </div>
        </div>
      </section>
    </div>
