{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Home",
  section: "home",
  section_home: true
%}

{% block title %}{{ "Home" }}{% endblock %}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'content' %}
<div class="home-hero-container">
  <div class="row row-padded">

    <div class="video-bg-home">
      <div
        style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; -webkit-background-size: cover; background-size: cover; background-color: transparent; background-image: none; background-position: 0% -5%; background-repeat: no-repeat no-repeat;">
        <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: -5%; left: 0%; visibility: visible; opacity: 1; width: 1172px; height: auto;" playsinline="">
          <source src="//gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.mp4" type="video/mp4">
          <source src="//gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.webm" type="video/webm">
          <source src="//gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.ogv" type="video/ogg"></video></div>

      <div class="home-hero-title">
        <h1><span class="title-text-alt">Welcome to the</span> Giza Plateau</h1>
      </div>

      <div class="home-hero-content">
        <div class="medium-8 columns">
          <p class="lead text-alt" style="line-height: 1.4">The Giza Project gives you access to the largest collection of information, media, and research materials ever assembled about the Pyramids and related sites on Egypt&rsquo;s Giza Plateau. </p>
        </div>
        <div class="medium-4 columns">
          <form method="post" action="/search/results/">
            {% csrf_token %}
            <p class="text-alt" style="color: #fff; margin-bottom: 0.1rem;">
              <em>Search the archives:</em>
            </p>
            <div class="input-group" style="margin-bottom: 0.1rem;">
              <input class="input-group-field" type="text" name="query" placeholder="Search">
              <div class="input-group-button">
                <button type="submit" class="button icon-search"></button>
              </div>
            </div>
          </form>
          <small>or go to <a class="link-lighter" href="{% url 'search' %}">Advanced Search</a></small>
        </div>
      </div>

      <div class="home-hero-overlay"></div>
    </div>

      <!--<div id="hero-home" data-interchange="[partials/home/small.html, small], [partials/home/medium.html, medium], [partials/home/large.html, large]"></div> -->

  </div>
</div>

<div class="row p-r-1" data-equalizer data-equalize-on="medium">

  {% include 'partials/home-4col-block--giza3d.html' with block_title="Explore Giza 3D"  block_button="Jump In" block_destination="/giza3d" %}

  {% include 'partials/home-4col-block--gizaatschool.html' with block_title="Giza @ School" block_button="View Resources" block_destination="/gizaatschool" %}

  {% include 'partials/home-4col-block--mygiza.html' with block_title="Make it Yours" block_button="Start Collecting" block_destination="/mygiza-landing" %}

  {% include 'partials/home-4col-block--donate.html' with block_title="Support the Project" block_button="Donate Now" block_destination="https://community.alumni.harvard.edu/give/34086571" %}

</div>
{% endblock %}
<!-- END MAIN CONTENT ROWS -->
