{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Khafre Valley Temple",
  section: "explore",
  section_explore: true,
  bodyclasses: "header-full mode-intro"
%}

<!-- BEGIN MAIN CONTENT ROWS -->

{% include 'partials/page-header.html' with bg="1" page_header_meta_link="full.html" %}

{% block 'content' %}
  <!-- row -->

  <div class="row content-start">

    <section class="large-12 columns content-col-primary">

      {% include 'partials/feature-block-start.html' with feature_title="All Photos" feature_block_class="" feature_icon="camera" feature_counter="248" %}
        <ul class="feature-block__list item-grid thumbsize-md thumbs-square">
        {{#each photos}}
          <li>
            {{> list-item-thumbonly}}
          </li>
        {{/each}}
        </ul>
      {% include 'partials/feature-block-end.html' %}

    </section>

  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
