{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Khafre Valley Temple",
  section: "explore",
  section_explore: true,
  bodyclasses: "header-full mode-intro"
%}

<!-- BEGIN MAIN CONTENT ROWS -->

{{> page-header bg="1"
  page-header-meta-link="full.html"
}}

{% block 'content' %}
  <!-- row -->

  <div class="row content-start">

    <section class="large-12 columns content-col-primary">

      {{#> feature-block
        feature-title="All Photos"
        feature-block-class=""
        feature-icon="camera"
        feature-counter="248"
      }}
        <ul class="feature-block__list item-grid thumbsize-md thumbs-square">
        {{#each photos}}
          <li>
            {{> list-item-thumbonly}}
          </li>
        {{/each}}
        </ul>
      {{/feature-block}}

    </section>

  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
