---
title: Giza @ School
section: school
section-school: true
---

<!-- BEGIN MAIN CONTENT ROWS -->
    
{{> page-header bg="9"}}

{{#> page-subheader
  backlink-url="gizaatschool.html"
  backlink-text="Back to Giza @ School"
}}
  <h2 class="text-medium m-b-qt">Lesson Topics</h2>
  <p class="lead">
    These popular classroom topics have been specially curated with lesson planning in mind.
  </p>
{{/page-subheader}}

{{#> content-main}}
  <div class="row">
    
    <aside class="large-4 large-push-8 columns">
      
      {{#> feature-block 
        feature-title="Contents" 
        feature-block-class="secondary" 
        feature-icon="list"
      }}
        <ul class="menu vertical">
          <li><a href="#dailylife">Daily Life in Ancient Egypt</a></li>
          <li><a href="#pyramids">What Are Pyramids?</a></li>
          <li><a href="#afterlife">The Afterlife</a></li>
          <li><a href="#mummification">Early Mummification</a></li>
          <li><a href="#socialstatus">Social Status in Ancient Egypt</a></li>
        </ul>
      {{/feature-block}}
      
    </aside>
    <section class="large-8 large-pull-4 columns">
      
      {{#> lesson-topic-blurb
        topic-title="Daily Life in Ancient Egypt"
        topic-img="img-n5@2x.jpg"
        topic-url="lessontopic.html"
        topic-anchor="dailylife"
        topic-collection-images9=true
        topic-collection-offset="3"
      }}
        <p>
          Explore these artifacts and sites to discover what daily life was 
          like in Ancient Egypt, from breakfast to bedtime and more. 
        </p>
        <p>
          This layout format provides space for a more detailed description of 
          what this collection is all about, so that we can effectively 
          explain how it might help in the creation of a lesson plan.
        </p>
      {{/lesson-topic-blurb}}
      
      {{#> lesson-topic-blurb
        topic-title="What Are Pyramids?"
        topic-img="img-n5@2x.jpg"
        topic-url="lessontopic.html"
        topic-anchor="pyramids"
        topic-collection-images4=true
        topic-collection-offset="0"
      }}
        <p>
          The Pyramids at Giza are one of the wonders of the ancient world. But 
          what do we really know about what they were for, and who built them?  
        </p>
      {{/lesson-topic-blurb}}
      
    </section>
    
  </div>
{{/content-main}}

<!-- END MAIN CONTENT ROWS -->