{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "MyGIZA",
  section: "mygiza",
  section_mygiza: true,
  mygiza_auth: true,
  class: "p-t-1"
%}

<!-- BEGIN MAIN CONTENT ROWS -->

{% include 'partials/page-header.html' with bg="7" %}

{% block 'content' %}
  <!-- GDPR cookies callout -->
  <div class="row">
    <div class="columns">
      <div class="callout primary text-smaller" data-closable>
        <span>
          <strong>Cookie use:</strong> This site uses cookies to track items that you add to MyGiza if
          you do not have an account. To use MyGiza, you must
          <a href="#">opt into our cookies policy</a>, or
          <a href="#" data-open="login_new">create or log into a My Giza
          account</a> to save collections of items from the Digital Giza
          library and share those items.
        </span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="collection-heading p-t-half m-b-1 hide-for-small-only">
    <div class="row">
      <div class="columns">
        <div class="titles">
          <a href="/mygiza-collection.html" class="active">Collections</a>
          <a href="/mygiza-saved-searches.html">Saved Searches</a>
        </div>
        <a href="#" class="add" data-open="add_collection"><span class="sr-only">add</span></a>
      </div>
    </div>
    <div class="row links">
      <div class="columns">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="active">
            <a href="#">All Collections</a>
            <ul class="menu show-for-small-only">
              <li><a href="#">My Collections</a></li>
              <li><a href="#">Collections Shared with Me</a></li>
            </ul>
          </li>
          <li class="hide-for-small-only"><a href="#">My Collections</a></li>
          <li class="hide-for-small-only"><a href="#">Collections Shared with Me</a></li>
        </ul>
        <a href="/mygiza-allcollections.html" class="go-back">View All 56 Collections</a>
      </div>
    </div>
  </div>

  <div class="row collection-section hide-for-small-only">
    <div class="columns">

      <div class="collection-slider">
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n9-small.jpg, assets/images/img-n9-small@2x.jpg 2x" media="(max-width: 639px)"/>
                <source srcset="assets/images/img-n9.jpg, assets/images/img-n9@2x.jpg 2x"/>
                <img src="assets/images/img-n9.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>My Latest Project</strong>
                <span>17 items</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n10.jpg, assets/images/img-n10@2x.jpg 2x"/>
                <img src="assets/images/img-n10.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>Sample Collection</strong>
                <span>1 item</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n9-small.jpg, assets/images/img-n9-small@2x.jpg 2x" media="(max-width: 639px)"/>
                <source srcset="assets/images/img-n9.jpg, assets/images/img-n9@2x.jpg 2x"/>
                <img src="assets/images/img-n9.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>Favorite Items</strong>
                <span>214 items</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n11.jpg, assets/images/img-n11@2x.jpg 2x"/>
                <img src="assets/images/img-n11.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>Statues</strong>
                <span>1 item</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n12.jpg, assets/images/img-n12@2x.jpg 2x"/>
                <img src="assets/images/img-n12.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>A Collection with a Much Longer Name</strong>
                <span>5 items</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
        <div class="slide">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n12.jpg, assets/images/img-n12@2x.jpg 2x"/>
                <img src="assets/images/img-n12.jpg" alt="image description" width="250" height="250">
              </picture>
              <div class="caption">
                <strong>A Collection with a Much Longer Name</strong>
                <span>5 items</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <section class="collection-section two-columns">
    <div class="row row-padded">
      <aside class="sidebar">
        <ul class="dropdown menu filter" data-dropdown-menu>
          <li class="active">
            <a href="#">Filter by<span class="hide-for-small-only">:</span> </a>
            <ul class="menu">
              <li><a href="#">Photos <span class="num">(4)</span></a></li>
              <li><a href="#">Published Docs <span class="num">(4)</span></a></li>
              <li><a href="#">Tombs & Monuments <span class="num">(2)</span></a></li>
              <li><a href="#">Videos <span class="num">(1)</span></a></li>
              <li><a href="#">Finds <span class="num">(2)</span></a></li>
              <li><a href="#">People <span class="num">(1)</span></a></li>
              <li><a href="#">3D-Models <span class="num">(3)</span></a></li>
              <li><a href="#">Unpublished Docs <span class="num">(0)</span></a></li>
              <li><a href="#">Maps & Plans <span class="num">(0)</span></a></li>
              <li><a href="#">Diary Pages <span class="num">(0)</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="links hide-for-small-only">
          <li><a href="#">Copy Collection Link</a></li>
        </ul>
        <div class="m-b-half">
          {{> share-links
            email-modal="email_collection"
          }}
        </div>
      </aside>
      <div class="content-heading">
        <h1>My Latest Project</h1>
        <ul class="links">
          <li><a href="#">17 items</a></li>
          <li class="active"><a href="#">3 Collaborators</a></li>
          <li><a href="#">Owned by Peter Der Manuelian</a></li>
        </ul>
        <ul class="view-switcher hide-for-small-only">
          <li><a href="#" class="switcher"><span class="bar-ico"><span>bar</span></span></a></li>
          <li><a href="#" class="switcher"><i class="fas fa-th-large"></i><span class="sr-only">grid</span></a></li>
        </ul>
        <ul class="dropdown menu show-for-small-only" data-dropdown-menu>
          <li>
            <a href="#" class="show-for-small-only"><i class="fas fa-ellipsis-h"></i></a>
            <ul class="menu">
              <li><a href="#" data-open="email_collection">Email this Collection</a></li>
              <li><a href="#">Copy Collection Link</a></li>
            </ul>
          </li>
        </ul>
        <a href="#" class="show-for-small-only back-link"><i class="fas fa-chevron-left show-for-small-only"></i><span class="sr-only">back link</span></a>
      </div>
      <ul class="collections-list">
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n13.jpg, assets/images/img-n13@2x.jpg 2x"/>
                <img src="assets/images/img-n13.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n14.jpg, assets/images/img-n14@2x.jpg 2x"/>
                <img src="assets/images/img-n14.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n15.jpg, assets/images/img-n15@2x.jpg 2x"/>
                <img src="assets/images/img-n15.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n16.jpg, assets/images/img-n16@2x.jpg 2x"/>
                <img src="assets/images/img-n16.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n13.jpg, assets/images/img-n13@2x.jpg 2x"/>
                <img src="assets/images/img-n13.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n14.jpg, assets/images/img-n14@2x.jpg 2x"/>
                <img src="assets/images/img-n14.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n15.jpg, assets/images/img-n15@2x.jpg 2x"/>
                <img src="assets/images/img-n15.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n16.jpg, assets/images/img-n16@2x.jpg 2x"/>
                <img src="assets/images/img-n16.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n13.jpg, assets/images/img-n13@2x.jpg 2x"/>
                <img src="assets/images/img-n13.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n14.jpg, assets/images/img-n14@2x.jpg 2x"/>
                <img src="assets/images/img-n14.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n15.jpg, assets/images/img-n15@2x.jpg 2x"/>
                <img src="assets/images/img-n15.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
        <li>
          <div class="item-wrap">
            <a href="#">
              <picture>
                <source srcset="assets/images/img-n16.jpg, assets/images/img-n16@2x.jpg 2x"/>
                <img src="assets/images/img-n16.jpg" alt="image description" width="180" height="180">
              </picture>
              <div class="caption">
                <strong>Khafre Pyramid Complex</strong>
                <span>Photos</span>
                <span>BMA_S10.08_Gizeh_9940</span>
              </div>
              <i class="fas fa-chevron-right show-for-small-only"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
