{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "MyGIZA",
  section: "mygiza",
  section_mygiza: true,
  class: "p-t-1"
%}

{% block title %}{{ "MyGIZA" }}{% endblock %}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'page_headers' %}
  {% include 'partials/page-header.html' with bg="7" title="MyGIZA"%}
{% endblock  %}

{% block 'main_content' %}
  <div class="collection-heading p-t-half m-b-1 hide-for-small-only">
    <div class="row">
      <div class="columns">
        <div class="titles">
          <a href="/collections/all">Collections</a>
          <a href="/search/all" class="active">Saved Searches</a>
        </div>
        <a href="#" class="add" data-open="add_collection"><span class="sr-only">add</span></a>
      </div>
    </div>
    <div class="row save-heading">
      <div class="columns">
        <span class="title">{{ searches|length }} saved search{{ searches|length|pluralize }}</span>
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#" class="show-for-small-only"><i class="fas fa-ellipsis-h"></i></a>
            <ul class="menu">
              <li><a href="#">expand all</a></li>
              <li><a href="#">collapse all</a></li>
              <li><a href="#">delete all</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="accordion-section">
    <div class="row row-padded">

      {% for search in searches %}

      <!-- BEGIN ACCORDION MENU -->
      <ul class="accordion" data-accordion>

        <!-- SEARCH ITEM -->
        <li class="accordion-item" data-accordion-item data-multi-expand="true">
          <a href="#" class="accordion-title">{{ search.name }}</a>
          <a href="#" class="button primary"><i class="fas fa-arrow-circle-right show-for-small-only"></i><span class="show-for-medium">Run this search</span></a>
          <div class="accordion-content" data-tab-content>
            <div class="content-wrap">
              <div class="col">
                <ul>
                  {% if search.term|length %}<li>Search term: {{ search.term }}</li>{% endif %}
                  {% if search.category|length %}<li>Category: {{ search.category }}</li>{% endif %}
                  {% if search.fields %}
                  <li>Search fields</li>
                  <ul>
                    
                    {% for field in search.fields %}
                    {% for k, v in field.items %}
                    {% spaceless %}{{k}}: <li>{{ v.key }} : {{ v.val }}</li>{% endspaceless %}
                      {% endfor %}
                    {% endfor %}
                    
                  </ul>
                  {% endif %}
                  {% if search.MET %}
                  <li>MET terms</li>
                  {% for term in MET %}
                    <li>{{ MET.key }} : {{ MET.val }}</li>
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li>Photographer: Peter Der Manuelian</li>
                  <li>Date of photgraph: */*/1984</li>
                  <li>MET 05: Alabaster</li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li>MET 06: Stone-technique</li>
                  <li>MET 07: Incomplete</li>
                  <li>MET 08: Mammal</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="columns medium-6">
                {% with email_modal=request.get_host|add:"/search/lookup?token="|add:search.key %}
                  {% include 'partials/share-links.html' with class="share-links--left" %}
                {% endwith %}
              </div>
              <div class="columns medium-6">
                <ul class="links">
                  <li>
                    <a href="{% url 'search_del' token=search.key %}">
                      <span class="show-for-medium">Delete this Saved Search</span><i class="far fa-trash-alt show-for-small-only"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      {% endfor %}
    </div>
  </section>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
