{% load static %}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'page_headers' %}
  {% include 'partials/page-header.html' with bg="7" title="MyGIZA"%}
{% endblock  %}

{% block 'main_content' %}
  <div class="row heading-block row-padded" id="content-skip">
    <h1>MyGiza: Save, share, and make our collection your own.</h1>
    <p>MyGiza helps you explore the vast Digital Giza collection, and organize it in a way that makes sense for you. For example, take a look at some of our curated collections below – then sign up to make your own.</p>
  </div>
  <section class="collection-section">
    <div class="row row-padded">
      <div class="flex-hold">
        <div class="columns medium-6">
          <div class="item-wrap">
            <a href="#">
              <picture>
                <!-- <source srcset="images/small.jpg, images/small-2x.jpg 2x, images/small-3x.jpg 3x" media="(max-width: 767px)"/> -->
                <source srcset="{% static 'images/img-n2.jpg' %}, {% static 'images/img-n2@2x.jpg' %} 2x"/>
                <img src="{% static 'images/img-n2.jpg' %}" alt="image description" width="517" height="517">
              </picture>
              <div class="caption">
                <strong>Curated Collection: Staff Picks</strong>
                <span>17 items</span>
              </div>
            </a>
          </div>
        </div>
        <div class="columns medium-6">
          <div class="items-holder">
            <div class="item-wrap">
              <a href="#">
                <picture>
                  <source srcset="{% static 'images/img-n3.jpg' %}, {% static 'images/img-n3@2x.jpg' %} 2x"/>
                  <img src="assets/images/img-n3.jpg" alt="image description" width="250" height="250">
                </picture>
                <div class="caption">
                  <strong>Curated Collection: Something</strong>
                  <span>1 item</span>
                </div>
              </a>
            </div>
            <div class="item-wrap">
              <a href="#">
                <picture>
                  <source srcset="{% static 'images/img-n4.jpg' %}, {% static 'images/img-n4@2x.jpg' %} 2x"/>
                  <img src="{% static 'images/img-n4.jpg' %}" alt="image description" width="250" height="250">
                </picture>
                <div class="caption">
                  <strong>Curated Collection: Something Else</strong>
                  <span>5 items</span>
                </div>
              </a>
            </div>
            <div class="item-wrap">
              <a href="#">
                <picture>
                  <source srcset="{% static 'images/img-n5.jpg' %}, {% static 'images/img-n5@2x.jpg' %} 2x"/>
                  <img src="{% static 'images/img-n5.jpg' %}" alt="image description" width="250" height="250">
                </picture>
                <div class="caption">
                  <strong>Curated Collection: Favorite Items</strong>
                  <span>214 items</span>
                </div>
              </a>
            </div>
            <div class="item-wrap">
              <a href="{% if user.is_authenticated %}/collections/{% else %}/sign-up/{% endif %}">
                <picture>
                  <source srcset="{% static 'images/img-n6.jpg' %}, {% static 'images/img-n6@2x.jpg' %} 2x"/>
                  <img src="{% static 'images/img-n6.jpg' %}" alt="image description" width="250" height="250">
                </picture>
                <img src="{% static 'images/upload-icon.svg' %}" alt="image description" class="upload-icon">
                <div class="caption">
                  <strong>Your First Collection</strong>
                  <span>No items – start adding some!</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center">
        {% if user.is_authenticated %}
          <a href="/collections" class="button primary lg-btn">Start collecting now with MyGiza</a>
        {% else %}
          <a href="/sign-up" class="button primary lg-btn">Start collecting now with MyGiza</a>
        {% endif %}
      </p>
      <p class="text-center">It’s quick, it’s easy, and it’s free!</p>
    </div>
  </section>
  <section class="color-bg-section">
    <div class="row row-padded">
      <h3>Work Smarter, Not Harder </h3>
      <p>MyGiza allows you the flexibility and freedom to sort, filter, and group records you need. Find the records you need, organized the way you need them. With advanced filters it’s easy to find records within your groups quickly.</p>
    </div>
  </section>
  <section class="collection-info">
    <div class="row row-padded">
      <div class="img-wrap">
        <div class="img">
          <picture>
            <source srcset="{% static 'images/img-n7.jpg' %}, {% static 'images/img-n7@2x.jpg' %} 2x"/>
            <img src="{% static 'images/img-n7.jpg' %}" alt="image description" width="442" height="362">
          </picture>
        </div>
      </div>
      <div class="text-wrap">
        <h3>Create your own collections</h3>
        <p>Don't get bookmark overload. Save individual records into groups ("Collections"). You'll be able to find the exact sets of records you need easily.</p>
      </div>
    </div>
    <!-- <div class="row row-padded img-right">
      <div class="img-wrap">
        <div class="img">
          <picture>
            <source srcset="{% static 'images/img-n8.jpg' %}, {% static 'images/img-n8@2x.jpg' %} 2x"/>
            <img src="{% static 'images/img-n8.jpg' %}" alt="image description" width="442" height="362">
          </picture>
        </div>
      </div>
      <div class="text-wrap">
        <h3>Save Complex Searches</h3>
        <p>Never have to rebuild a complex search from scratch – save it instead! You'll be able to run it again easily, whether to see new results or just find the results you've seen before.</p>
      </div>
    </div> -->
  </section>
  <section class="color-bg-section research-bg">
    <div class="row row-padded">
      <h3>Research Better.</h3>
      <p>MyGiza is functional—it fits right into your workflow. Add records at any time, from a single page or from your search results. MyGiza improves your research.</p>
      <div class="btn-wrap">
        {% if user.is_authenticated %}
          <a href="/collections/" class="button primary lg-btn">Start your research</a>
        {% else %}
          <a href="/sign-up" class="button primary lg-btn">Register your MyGiza account now</a>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
