{% load static %}

{% block 'page_headers' %}
{% include 'partials/page-header.html' with bg="9" title="MyGiza" %}
{% include 'partials/page-subheader--mygiza.html' %}
{% endblock  %}

{% block 'main_content' %}

{{ collections|json_script:"collections" }}
{{ searches|json_script:"searches" }}
{{ topics|json_script:"topics" }}

<div class="collection-heading p-t-half m-b-1 hide-for-small-only">
  <div class="row">
    <div class="columns">
      <div class="titles">
        <a href="#" id="all_saved_search_queries">Search Queries</a>
        <a href="#" id="all_collections">Collections</a>
        <a href="#" id="all_lessons">Lesson Topics</a>
      </div>
    </div>
  </div>
</div>

<!-- SECTION FOR JSON DATA -->
<section class="accordion-section" id="MyGIZAdiv"></section>

{% endblock %}

<!-- END MAIN CONTENT ROWS -->

<!-- JAVASCRIPT -->
<script>
  $(document).ready(() => {

    collections = JSON.parse($('#collections').text())
    searches = JSON.parse($('#searches').text())
    topics = JSON.parse($('#topics').text())

    $('#all_saved_search_queries').addClass('active')
    $('#MyGIZAdiv').empty().html(searches['html'])

    $('#all_saved_search_queries').on('click', e => {
      $.get("{% url 'mygiza_saved_search_queries_all' %}")
        .done(response => {
          console.log(response)
          if (response.success) {
            $('#all_collections').removeClass('active')
            $('#all_saved_search_queries').addClass('active')
            $('#MyGIZAdiv').empty().html(response.html)
          } else {
            console.log(response)
            console.log('error')
          }
        })
    })

    $('#all_collections').on('click', () => {
      console.log('click')
      $.get('/mygiza/collections/refresh')
        .done(response => {
          if (response.success) {
            $('#all_saved_search_queries').removeClass('active')
            $('#all_collections').addClass('active')
            $('#MyGIZAdiv').empty().html(response.html)
          } else {
            console.log('error')
          }
        })
    })

    $('#my_collections_link').on('click', () => {
      console.log('private collections')
      $.get('/mygiza/collections/private/')
        .done(response => {
          console.log('ok')
          if (response.success) {
            console.log(response)
            $('#private_collections').empty().html(response.html)
          }
        })
    })
  })
</script>