{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "MyGIZA",
  section: "mygiza",
  section_mygiza: true,
  class: "p-t-1"
%}

{% block title %}{{ "MyGIZA" }}{% endblock %}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'page_headers' %}
  {% include 'partials/page-header.html' with bg="7" title="MyGIZA"%}
{% endblock  %}

{% block 'main_content' %}
  <div class="collection-heading p-t-half m-b-1 hide-for-small-only">
    <div class="row">
      <div class="columns">
        <div class="titles">
          <a href="/collections/all">Collections</a>
          <a href="/search/all" class="active">Saved Searches</a>
        </div>
        <a href="#" class="add" data-open="add_collection"><span class="sr-only">add</span></a>
      </div>
    </div>
    <div class="row save-heading">
      <div class="columns">
        <span class="title" id="saved_searches_total">{{ searches|length }} saved search{{ searches|length|pluralize }}</span>
      </div>
    </div>
  </div>
  
  <!-- START OF DIV WITH SEARCHES -->
  <section class="accordion-section">
    <div class="row row-padded" id="saved_searches">
      {% include 'partials/mygiza-saved-searches.html' %}
    </div>
  </section>
{% endblock %}
<!-- END MAIN CONTENT ROWS -->

<!-- JAVASCRIPT -->
{% block extra_js %}
  <script src="{% static 'js/block_mygiza-saved-search-queries.js' %}"></script>
{% endblock %}