{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Resources",
  section: "about",
  section_about: true
%}

<!-- BEGIN MAIN CONTENT ROWS -->

  <div class="page-header header-bg-6">
    <div class="row title">
      <header class="large-12 columns">
        <h1>{{title}} <a name="top"></a></h1>
      </header>
    </div>
  </div>

    <div class="row">
      <aside class="medium-4 medium-push-8 columns">
        <div class="feature-block secondary">
          <h5><span class="icon-list icon-padded"></span> Contents</h5>
          <ul class="menu vertical">
            <li><a href="#1">Item 1</a></li>
            <li><a href="#2">Item 2</a></li>
            <li><a href="#3">Item 3</a></li>
            <li><a href="#4">Item 4</a></li>
          </ul>
        </div>
      </aside>

      <section class="medium-8 medium-pull-4 columns">
        <h3>Item 1<a name="1"></a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, culpa, delectus. Voluptatum magnam, voluptate maiores iusto, accusantium fugit unde quis quidem ut possimus laudantium quibusdam, sapiente voluptatibus adipisci sed ea!</p>
        <p><a class="back-to-top-link" href="#top">Back to top </a></p>

        <h3>Item 2<a name="2"></a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, culpa, delectus. Voluptatum magnam, voluptate maiores iusto, accusantium fugit unde quis quidem ut possimus laudantium quibusdam, sapiente voluptatibus adipisci sed ea!</p>
        <p><a class="back-to-top-link" href="#top">Back to top </a></p>

        <h3>Item 3<a name="3"></a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, culpa, delectus. Voluptatum magnam, voluptate maiores iusto, accusantium fugit unde quis quidem ut possimus laudantium quibusdam, sapiente voluptatibus adipisci sed ea!</p>
        <p><a class="back-to-top-link" href="#top">Back to top </a></p>

        <h3>Item 4<a name="4"></a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, culpa, delectus. Voluptatum magnam, voluptate maiores iusto, accusantium fugit unde quis quidem ut possimus laudantium quibusdam, sapiente voluptatibus adipisci sed ea!</p>
        <p><a class="back-to-top-link" href="#top">Back to top</a></p>
      </section>

    </div>
