{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Search the Archives",
  section: "search",
  section_search: true,
  bodyclasses: "list-active"
%}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'page_headers' %}
  {% include 'partials/page-header.html' with bg="5" %}
{% endblock  %}

{% block 'main_content' %}
  <div class="row">

    <section class="medium-9 medium-push-3 columns">

      <div class="row">
        <div class="medium-6 columns">
          <h3 class="heading-alt m-t-half m-b-1">6 search results found.</h3>
        </div>
        <div class="medium-6 columns text-right">
          <label for="sortResults" class="d-inline-block middle m-r-qt">Sort by:</label>
          <div class="d-inline-block img-fluid-mw150">
            <select id="sortResults">
              <option value="">Category</option>
              <option value="">Name</option>
              <option value="">Year</option>
              <option value="">Material</option>
              <option value="">Findspot</option>
            </select>
          </div>
          <ul class="d-inline-block view-switcher p-y-qt m-l-1 hide-for-small-only">
            <li><a href="#" class="switcher"><i class="fa fa-fw fa-align-justify"></i><span class="sr-only">List</span></a></li>
            <li><a href="#" class="switcher"><i class="fa fa-fw fa-th-large"></i><span class="sr-only">Grid</span></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="large-6 large-push-6 columns text-lg-right">
          <a href="">
            <strong>Save this search</strong>
          </a>
        </div>
        <div class="large-6 large-pull-6 columns">
          <nav aria-label="Pagination">
            <ul class="pagination m-l-neghalf">
              <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li class="ellipsis" aria-hidden="true"></li>
              <li><a href="#" aria-label="Page 144">144</a></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="media-object-holder">
        {{#each search-results}}
          {{> search-result}}
        {{/each}}
      </div>

      <div class="row">
        <div class="columns p-t-1">
          <nav aria-label="Pagination">
            <ul class="pagination m-l-neghalf">
              <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li class="ellipsis" aria-hidden="true"></li>
              <li><a href="#" aria-label="Page 144">144</a></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>
          </nav>
        </div>
      </div>

    </section>
    <aside class="medium-3 medium-pull-9 columns">

      <div class="feature-block secondary text-smaller">
        <h5 class="heading-alt">Search Options</h5>
        <p>
          <a href="">Save this search</a><br>
          <a href="/search/">Start a new search</a>
        </p>
        <div class="search-facet-section">
          <h6 class="search-facet-title">Keyword:</h6>
          <ul class="search-facet-list">
            <li class="search-facet-item is-active">
              <a href="#0">khafre</a>
            </li>
          </ul>
        </div>

        <div class="search-facet-section">
          <fieldset>
            <legend class="search-facet-title">Category:</legend>
            <ul class="search-facet-list">
              <li class="search-facet-item">
                <input type="radio" name="Category" value="Objects" id="categoryObjects" required checked><label for="categoryObjects">Objects</label>
              </li>
              <li class="search-facet-item">
                <input type="radio" name="Category" value="Videos" id="categoryVideos"><label for="categoryVideos">Videos</label>
              </li>
              <li class="search-facet-item">
                <input type="radio" name="Category" value="Excavation Diaries" id="categoryExcavationDiaries"><label for="categoryExcavationDiaries">Excavation Diaries</label>
              </li>
            </ul>
          </fieldset>
        </div>

        <div class="search-facet-section">
          <fieldset>
            <legend class="search-facet-title">Material:</legend>
            <ul class="search-facet-list">
              <li class="search-facet-item">
                <input type="checkbox" name="Material" value="limestone" id="materialLimestone" checked><label for="materialLimestone">limestone</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Material" value="alabaster" id="materialAlabaster"><label for="materialAlabaster">alabaster</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Material" value="bronze" id="materialBronze"><label for="materialBronze">bronze</label>
              </li>
            </ul>
          </fieldset>
        </div>

        <div class="search-facet-section">
          <fieldset>
            <legend class="search-facet-title">Year:</legend>
            <ul class="search-facet-list">
              <li class="search-facet-item">
                <input type="checkbox" name="Year" value="1924" id="year1924"><label for="year1924">1924</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Year" value="alabaster" id="year1925"><label for="year1925">1925</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Year" value="bronze" id="year1926"><label for="year1926">1926</label>
              </li>
            </ul>
          </fieldset>
        </div>

        <div class="search-facet-section">
          <fieldset>
            <legend class="search-facet-title">Findspot:</legend>
            <ul class="search-facet-list">
              <li class="search-facet-item">
                <input type="checkbox" name="Findspot" value="G 2104" id="findspotG2104"><label for="findspotG2104">G 2104</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Findspot" value="G 2109" id="findspotG2109"><label for="findspotG2109">G 2109</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Findspot" value="G 2110" id="findspotG2110"><label for="findspotG2110">G 2110</label>
              </li>
              <li class="search-facet-item">
                <input type="checkbox" name="Findspot" value="G 2111" id="findspotG2111"><label for="findspotG2111">G 2111</label>
              </li>
            </ul>
          </fieldset>
        </div>

      </div>

    </aside>

  </div>
{% endblock %}

<!-- END MAIN CONTENT ROWS -->
