---
title: Search the Archives
section: search
section-search: true
met-tooltip-text: The "Multilingual Egyptological Thesaurus" (MET) allows users to search any image on the website using keywords and descriptions of the image itself. The MET applies to two-dimensional wall scene photos, as well as three-dimensional object photos. Start typing your search term to get a menu of available options.
---

<!-- BEGIN MAIN CONTENT ROWS -->
  
  <div class="page-header header-bg-5" id="content">
    <div class="row title">
      <header class="large-12 columns">
        <h1>{{title}} <a name="top"></a></h1>
      </header> 
    </div>
  </div>

    <div class="row">
      <div class="large-12 columns">
        <h3>Advanced Search</h3>
        <p>Narrow your search results using the advanced search fields below.</p>
        <p class="text-smaller">Need help with abbreviations? Check out our <a href="{{root}}faq.html#abbr">list of abbreviations on the FAQ page.</a></p>
        
        <hr>
      </div>
    </div>
   
    <form>
      <div class="row">      
        <fieldset class="medium-4 medium-push-8 columns">
          <legend>Search within the selected category:</legend>
          <div class="feature-block secondary">
            <input id="objects" value="objects" type="radio" name="category"><label for="objects">Objects</label><br>
            <input id="videos" type="radio" name="category"><label for="videos">Videos</label><br>
            <input id="exdiaries" value="exdiaries" type="radio" name="category"><label for="exdiaries">Excavation Diaries</label><br>
            <input id="maps" value="maps" type="radio" name="category"><label for="maps">Maps &amp; Plans, Drawings</label><br>
            <input id="people" value="people" type="radio" name="category"><label for="people">People</label><br>
            <input id="tombs" value="tombs" type="radio" name="category"><label for="tombs">Tombs and Monuments</label><br>
            <input id="photos" value="photos" type="radio" name="category"><label for="photos">Photos</label><br>
            <input id="pubdoc" value="pubdoc" type="radio" name="category"><label for="pubdoc">Published Documentation</label><br>
            <input id="unpubdoc" value="unpubdoc" type="radio" name="category"><label for="unpubdoc">Unpublished Documentation</label>
          </div>
        </fieldset>
        
        <section class="medium-8 medium-pull-4 columns">
            <label>Object title or name:
            
              <input type="text" placeholder="Example: 'royal statue' or 'Khafre'">
            </label>
            <label>Object or ID number:
              <input type="text" placeholder="Example: 'HUMFA_14-11-206'">
            </label>
            <label>Material:
              <input type="text" placeholder="Example: 'alabaster'">
            </label>
            <label>Findspot:
              <input type="text" placeholder="Example: 'G 2110'">
            </label>
            <label>Date of register entry:
              <input type="text" placeholder="Example: 05/23/1924">
            </label>
            <label>MET (Multilingual Egyptological Thesaurus) search: <span class="show-for-medium icon-info-circle has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="{{met-tooltip-text}}"></span>
              <input type="text" placeholder="Start typing to filter the available MET terms">
            </label>
            <p class="show-for-small-only text-smaller" style="margin-top: -0.75em;">
              <span id="tooltipMetMobile" class="icon-info-circle has-tip right" data-tooltip aria-haspopup="true" data-disable-hover="false" data-position-class="right" data-template-classes="narrow" tabindex="2" title="{{met-tooltip-text}}"> What is MET?</span>
            </p>
        </section>
      </div>  
      
      <div class="row">
        <div class="large-12 columns">
          <!-- This should be a <button> in real life -->
          <a class="button primary" href="{{root}}searchresults.html">Search</a>
        </div>
      </div>
        
    </form>