<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Giza | {{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">

    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png" sizes="32x32' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png" sizes="16x16' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="{% if section %} section-{{section}}-body{% endif %}{% if bodyclasses %} {{bodyclasses}}{% endif %}">

    {% include 'partials/header.html' %}

    <div id="content">
      {% block 'content' %}
      {% endblock %}
    </div>

    {% include 'partials/footer.html' %}
    {% include 'partials/modals.html' %}


    <!-- Core JavaScript and required libraries -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- App-specific JavaScript -->
    <script src="{% static 'assets/js/giza.js' %}"></script>
  </body>
</html>
