<div class="orbit" id="slider" role="region" aria-label="Giza Photos" data-orbit data-use-m-u-i="false" data-timer-delay="8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="img/home.png" alt="Giza Pyramids">
      <figcaption class="orbit-caption">
        <div class="row">
          <div class="medium-8 columns">
            <p class="lead">The Giza Project gives you access to the largest collection of information, media and research materials ever assembled about the Pyramids and related sites on Egypt’s Giza Plateau. </p>
          </div>
          <div class="medium-4 columns">
            <p>Search the archives</p>
            <form>
              <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Search">
                <div class="input-group-button">
                  <button type="submit" class="button icon-search"></button>
                </div>
              </div>
            </form>
            <small>or go to <a href="#">Advanced Search</a></small>
          </div>
        </div>
      </figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="img/home2.png" alt="More Giza">
      <figcaption class="orbit-caption">
        <div class="row">
          <div class="medium-8 columns">
            <p class="lead">The Giza Project gives you access to the largest collection of information, media and research materials ever assembled about the Pyramids and related sites on Egypt’s Giza Plateau. </p>
          </div>
          <div class="medium-4 columns">
            <p>Search the archives</p>
            <form>
              <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Search">
                <div class="input-group-button">
                  <button type="submit" class="button icon-search"></button>
                </div>
              </div>
            </form>
            <small>or go to <a href="#">Advanced Search</a></small>
          </div>
        </div>
      </figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="img/home3.png" alt="Still Giza">
      <figcaption class="orbit-caption">
        <div class="row">
          <div class="medium-8 columns">
            <p class="lead">The Giza Project gives you access to the largest collection of information, media and research materials ever assembled about the Pyramids and related sites on Egypt’s Giza Plateau. </p>
          </div>
          <div class="medium-4 columns">
            <p>Search the archives</p>
            <form>
              <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Search">
                <div class="input-group-button">
                  <button type="submit" class="button icon-search"></button>
                </div>
              </div>
            </form>
            <small>or go to <a href="#">Advanced Search</a></small>
          </div>
        </div>
      </figcaption>          </li>
      <li class="orbit-slide">
        <img class="orbit-image" src="img/home4.png" alt="Make a real alt tag">
        <figcaption class="orbit-caption">
        <div class="row">
          <div class="medium-8 columns">
            <p class="lead">The Giza Project gives you access to the largest collection of information, media and research materials ever assembled about the Pyramids and related sites on Egypt’s Giza Plateau. </p>
          </div>
          <div class="medium-4 columns">
            <p>Search the archives</p>
            <form>
              <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Search">
                <div class="input-group-button">
                  <button type="submit" class="button icon-search"></button>
                </div>
              </div>
            </form>
            <small>or go to <a href="#">Advanced Search</a></small>
          </div>
        </div>
      </figcaption>          
      </li>
    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
  </div>
