div.row {
    display: flex;
    flex-direction: row;
    max-width: 85rem;
}

.ui-slider-tick-mark {
    display:inline-block;
    width:2px;
    background:black;
    height:16px;
    position:relative;
    top:-23px;
  }

@media screen and (min-width: 40em) {
    .medium-3 {
        left: 0;
        width: 35%;
    }

    .medium-push-3 {
        left: 0;
        width: 100%;
    }

    .medium-pull-9-right {

    }

    ul.accordion {
        margin-bottom: 0;
    }

    .add-wrap a span {
        z-index: 10;
    }
}