<span class="title">{{ collection.title }}
    <ul class="no-bullet share-links__icons">
        <li>
            <a class="share-facebook" href="{{facebook_link}}">
                <i class="icon-plus-circle"></i>
            </a>
        </li>
        <li>
            <a class="share-facebook my-giza-lnk modal post" data-url='{% url "my-giza-collections-delete" token=collection.pk|stringformat:"s" %}'>
                <i class="icon-trash-o"></i>
            </a>
        </li>
    </ul>
</span>
<br>
{% if collection.contents|length %}
{% for item in collection.items.all %}
{{ item }}
{% endfor %}
{% else %}
<p>This collection does not contain any items.</p>
{% endif %}
<script>
    // $( document ).click(function() {
    //   $( "#openAdvancedSearchPane" ).effect( "highlight", {color:"#669966"}, 3000 );
    // })
</script>