{% load static %}

<ul class="collections-list">
  {{collections}}
    {% for collection in collections %}

    {{ collection }}
      <li>
        <div class="item-wrap">
          <!-- <a href="/collections/view/{{ collection.id }}"> -->
            <a href="#"></a>
            
            <picture>
              <!--
              <source srcset="{% static 'images/img-n9-small.jpg' %}, {% static '/assets/images/img-n9-small@2x.jpg' %} 2x" media="(max-width: 639px)"/>
              <source srcset="{% static 'images/img-n9.jpg' %}, {% static '/assets/images/img-n9@2x.jpg' %} 2x"/>
              -->
              <img src="{% static 'images/thumb-default.png' %}" alt="image description" width="250" height="250">
            </picture>
            <div class="caption">
              <strong>{{ collection.title }}</strong>
              <span>{{ collection.items.all|length }} items</span>
            </div>
            <i class="fas fa-chevron-right show-for-small-only"></i>
          </a>
        </div>
        <div class="list-row">
          <div class="check-hold">
            <label>
              <input type="checkbox">
              <span class="fake-input"></span>
              <span>{{ collection.title }} <em>({{ collection.items.all|length }} items)</em></span>
            </label>
          </div>
          <div class="btn-hold">
            {% if user.is_superuser %}
              <a href="/collections/{{ collection.slug }}" class="button primary">View this collection</a>
              <a href="/collections/{{ collection.slug }}?action=delete" class="button primary">Delete</a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>