{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}section-search-body{% endblock %}

{% block title %}Digital Giza | Search the Archives{% endblock %}

{% block content %}
<div class="page-header header-bg-5" id="content">
  <div class="row title">
    <header class="large-12 columns">
      <h1>Search the Archives <a name="top"></a></h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Advanced Search</h3>
    <p>Narrow your search results using the advanced search fields below. You can select a specific category to search within at the right.</p>
    <p class="text-smaller">Need help with abbreviations? Check out our <a href="faq.html#abbr">list of abbreviations on the FAQ page.</a></p>

    <hr>
  </div>
</div>

<div class="row">
  <form action="{% url 'results' %}">
    <section class="medium-8 columns">
      <label>Object title or name:
        <input type="text" placeholder="Example: 'royal statue' or 'Khafre'">
      </label>
      <label>Object or ID number:
        <input type="text" placeholder="Example: 'HUMFA_14-11-206'">
      </label>
      <label>Material:
        <input type="text" placeholder="Example: 'alabaster'">
      </label>
      <label>Findspot:
        <input type="text" placeholder="Example: 'G 2110'">
      </label>
      <label>Date of register entry:
        <input type="text" placeholder="Example: 05/23/1924">
      </label>
      <label>MET (Multilingual Egyptological Thesaurus) search: <span class="icon-info-circle has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="The &quot;Multilingual Egyptological Thesaurus&quot; (MET) allows users to search any image on the website using keywords and descriptions of the image itself. The MET applies to two-dimensional wall scene photos, as well as three-dimensional object photos. Start typing your search term to get a menu of available options."></span>
        <input type="text" placeholder="Start typing to filter the available MET terms">
      </label>
      <!-- This should be a <button> in real life -->
      <a class="button primary" href="searchresults.html">Search</a>
    </section>
    <fieldset class="medium-4 columns">
      <legend>Search within the selected category:</legend>
      <div class="feature-block secondary">
        <input id="objects" value="objects" type="checkbox" name="category"><label for="objects">Objects</label><br>
        <input id="videos" type="checkbox" name="category"><label for="videos">Videos</label><br>
        <input id="diarypages" value="diarypages" type="checkbox" name="category"><label for="diarypages">Excavation Diaries</label><br>
        <input id="mapsandplans" value="mapsandplans" type="checkbox" name="category"><label for="mapsandplans">Maps &amp; Plans, Drawings</label><br>
        <input id="modernpeople" value="modernpeople" type="checkbox" name="category"><label for="modernpeople">Modern People</label><br>
        <input id="ancientpeople" value="ancientpeople" type="checkbox" name="category"><label for="ancientpeople">Ancient People</label><br>
        <input id="sites" value="sites" type="checkbox" name="category"><label for="sites">Tombs and Monuments</label><br>
        <input id="photos" value="photos" type="checkbox" name="category"><label for="photos">Photos</label><br>
        <input id="pubdocs" value="pubdocs" type="checkbox" name="category"><label for="pubdocs">Published Documentation</label><br>
        <input id="unpubdocs" value="unpubdocs" type="checkbox" name="category"><label for="unpubdocs">Unpublished Documentation</label>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
