{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search">
    </form>

    {% if hits %}
        <ul>
            {% for result in hits %}
                <li>
                    <h4><a href="{% url result.type result.id %}">{{ result.source }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if hits.has_previous %}
            <a href="{% url 'search' %}?q={{ search_query|urlencode }}&amp;page={{ hits.previous_page_number }}">Previous</a>
        {% endif %}

        {% if hits.has_next %}
            <a href="{% url 'search' %}?q={{ search_query|urlencode }}&amp;page={{ hits.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query and not counts %}
        No results found
    {% endif %}
    {% if counts %}
        <ul>
        {% for count in counts %}
            <li><a href="{% url 'search' %}?q={{ search_query|urlencode }}&amp;type={{ count.key }}">{{ count.key }} : {{ count.doc_count }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
