{% if search.categories|length %}
  {% for category in search.categories %}
    <li data-category="{{ category.key }}">
      <a href='#'>
        <h1 class="search-facet-title">{{ category.displaytext }} {% if 'doc_count' in category %}({{ category.doc_count }}) {% endif %}</h1>
        <ul class="menu vertical nested">
          {% for key, val in category.fields.items %}
          <a href='#'>
            <li class="search-facet-item">
              <input type="text" id="{{ category.key }}_{{ key }}" placeholder="{{ val }}" name="{{ category.key }}_{{ key }}">
            </li>
          </a>
          {% endfor %}
        </ul>
      </a>        
    </li>
  {% endfor %}
{% endif %}