{% load static %}

<section class="large-12 columns">
  <h3>Advanced Search</h3>

  <p>
    Narrow your search results using the advanced search fields below.
  </p>

  <!-- <p class="text-medium">
    Need help with abbreviations? Check out our <a class="my-giza-lnk" data-url="{% url 'faq' %}#abbr">list of abbreviations on the FAQ page.</a>
  </p> -->

  <!-- <form id="advanced-search-form" method="post" action="{% url 'search_results' %}"> -->
  <form>
    <div>

      <!-- LOADS CATEGORIES COLLECTED FROM DATABASE; SEE HEADER.HTML -->
      <div id='html' class="text-smaller"></div>

      <div class="row">

        <div class="large-12 columns">
          <button id="advanced_search_btn" class="button primary my-giza-lnk post" data-url="{% url 'search_results' %}"
            id="advanced-search-form-btn" type="submit">Search</button>
          <button class="button primary my-giza-lnk post" data-url="{% url 'search_results' %}"
            id="advanced-search-form-btn" type="submit">MET</button>
        </div>

      </div>
    </div>
    <input type=hidden name=category>
  </form>

</section>
<script>
  // $(document).foundation()

  $(document).ready(() => {

    $('#sideMenuContainer').on('keydown', e => {
    //   console.log(e)
    // })

    // $('#advanced_search_categories').on('change', e => {
      console.log(e)
      $('input[name="category"]').val($('#advanced_search_categories').find('[aria-expanded=true]').data('category'))
    })

    // window.addEventListener('keydown', e => {
    //   if (e.keyCode == 32 && e.target instanceof HTMLInputElement) {
    //     $(e.target).parent().attr('aria-expanded', true)
    //     // e.preventDefault()
    //     // $(e.target).focus()
    //   }
    //   console.log(e)
    //   // (e.keyCode == 32 && e.target instanceof HTMLInputElement) ? e.preventDefault() : null
    // })

    // ADVANCED SEARCH: SHOW/HIDE SECTIONS FOR SEARCHING IN CATEGORIES
    // $('fieldset#category-radio-selector input').click(e => showHideMenu(e))

    // // This function shows/hides parts of the advanced search categories
    // showHideMenu = e => {
    //     if (e != undefined) {
    //     // RETAIN REFERENCE OF CURRENT CATEGORY
    //         selected_option = $('input.advanced_search_field:checked').val()

    //         $('#advanced-search-form').trigger("reset") // RESET THE SEARCH FORM WHEN CHANGING SEARCH OPTION
    //         $('.category-section').hide()               // HIDE THE SECTIONS

    //         // DETERMINE TARGET SECTION
    //         target = e.type == "click" ? $(e.currentTarget).attr('data-for-id') : e

    //         // SHOW RELEVANT ITEMS
    //         $('#'+selected_option).prop('checked', true)
    //         $('#'+target).show()                        // SHOW RELEVANT SECTION ONLY
    //     }
    // }

    // addHidden = elem => {
    //     hidden = $('<input>').attr('type', 'hidden').addClass('hidden_field').attr('name', elem.attr('name')).val(elem.val())

    //     // if (elem.parent().find(`.hidden_field[name=${elem.attr('name')}]`).length) {
    //         // elem.parent().find(`.hidden_field[name=${elem.attr('name')}]`).remove()
    //     // }

    //     elem.parent().append(hidden)
    // }


    // // SHOW DEFAULT ADVANCED SEARCH OPTION
    // selected_option = $('input.advanced_search_field:checked').attr('data-for-id')
    // if (!$($('#'+selected_option)).is(':visible')) showHideMenu($('#'+selected_option).attr('id'))
    // addHidden($('#'+selected_option))
  })
</script>