{% if search.categories|length %}
<ul class="vertical menu accordion-menu" data-accordion-menu data-multi-open="false">
{% for category in search.categories %}
<li>
  <input type="checkbox" class="facet_checkbox" id="{{ category.key }}" placeholder="{{ val }}" name="{{ category.key }}" {% if category.selected %} checked {% endif %} onclick="toggle_category('{{ category.key }}')">
  <label for="{{ category.key }}">{{ category.displaytext }} {% if 'doc_count' in category %} ({{ category.doc_count }}) {% endif %}</label>
</li>
{% endfor %}
</ul>
{% endif %}