{% if search.categories|length %}

<ul class="vertical menu drilldown" data-drilldown data-auto-height="true" data-animate-height="true">
    {% for category in search.categories %}
        <li>
            <a data-category="{{ category.key }}">{{ category.displaytext }}{% if 'doc_count' in category %}({{ category.doc_count }}){% endif %}</a>
            <ul class="menu vertical nested">
                {% for key, val in category.fields.items %}
                <input type="checkbox" class="facet_checkbox" id="{{ search.category }}_{{ type }}_{{ facet.display_text }}" name="{{ type }}_{{ facet.display_text }}" {% if facet.selected %} checked {% endif %} onclick="toggle_facet('{{ type }}_{{ facet.display_text }}')">
                <label for="{{ search.category }}_{{ type }}_{{ facet.display_text }}">{{ facet.display_text }} ({{ facet.doc_count }})</label>

                <a>
                    <input type="text" id="{{ category.key }}_{{ key }}" placeholder="{{ val }}" name="{{ category.key }}_{{ key }}">            
                </a>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endif %}
<script>
    $(document).ready(() => {

        $('#advanced_search_categories').foundation()
        elem = new Foundation.Accordion($('#advanced_search_categories'))

        // 
        // let toggle = li => {
        //     panels = $(li).find('div')
        //     panels.each(panel => {
        //         $('#advanced_search_categories').foundation('up', $(panel))
        //     })
        // }

        // $('.accordion-item').on('click', e => {
        //     activeTargetAID = $(e.currentTarget).find('a').attr('id') // LI ELEMENT THAT'S BEEN SELECTED

        //     $('#advanced_search_categories').foundation('up', $(`#advanced_search_categories #${activeTargetAID} .accordion-content`))
        //     // $('#advanced_search_categories').foundation('down', $(`#advanced_search_categories #${activeTargetAID} .accordion-content`))


        //     // DROP DOWN
        //     // IF ITEM NOT YET OPEN
        //     // if ($(e.currentTarget).find('[aria-expanded=false]')) {
        //         // $('#advanced_search_categories').foundation('up', $(`#advanced_search_categories #${activeTargetAID} .accordion-content`))
        //     // } else {
        //         // $('#advanced_search_categories').foundation('down', $(`#advanced_search_categories #${activeTargetAID} .accordion-content`)).foundation('up', $(`#advanced_search_categories #${activeTargetAID} .accordion-content`))
        //     // }

        //     // activePanels = $('#advanced_search_categories').find('[aria-expanded=true]').filter((idx, elem) => $(elem).attr('id') != activeTargetAID).parent()
        //     // activePanels.each(panel => toggle(panel))
    })
</script>