/*  Buttons
--------------------------------------*/

.button {
  font-weight: bold;
  
  &:hover, 
  &:active, 
  &:focus {
    text-decoration: none;
  }
}

.button.secondary {
  background-color: $sand-light;
  border: solid 1px $sand-medium;
  color: $dune;
  
  &:hover, 
  &:active, 
  &:focus {
    background-color: $sand-medium;
    color: $dune;
  }
}


// Button groups (toggle switch)

.button-group {
  
  .button {
    border-radius: 0;
  }
  
  .button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .button.primary {
    background-color: $dune;
    color: $white;
  }
  
  .button.secondary {
    background-color: $sand-dark;
    border-color: transparent;
    color: $sand-light;
    
    &:hover, 
    &:active, 
    &:focus {
      background-color: $umber;
      color: $white;
    }
  }
  
}