/*  Forms
--------------------------------------*/

legend {
  font-family: $body-font-family;
  font-weight: bold;
  text-transform: none;
}

textarea {
  resize: none;
}

select, input, textarea {
	background-color: #fff;
	border: solid 1px $sand-dark;
	border-radius: 3px;
}

// Search facets radios/checkboxes

.search-facet-item {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  position: relative;
  
  > [type="radio"], 
  > [type="checkbox"] {
    position: absolute;
    top: 0.35em;
  }
  
  > label {
    line-height: 1.5;
    margin-left: 1.5em;
  }
  
}


// Special case for Advanced Search: MET tooltip

#tooltipMetMobile {
  
}
  
  // Custom template class
  
  .tooltip.narrow {
    width: 170px !important;
  
    @media (min-width: 330px) {
      width: 220px !important;
    }
  
  }
