/*  Typography
--------------------------------------*/

// Basics

h1, h3, h5 {
	text-transform: uppercase;
}

// Alternate text style

.text-alt {
  font-family: $accent-font-family;
}

// Alternate heading styles

.heading-alt {
  font-family: $body-font-family;
  font-weight: bold;
  text-transform: none;
}

.heading-em {
  font-family: $accent-font-family;
  text-transform: none;
  letter-spacing: 0;
  font-style: italic;
}

// Heading links 

a.heading-link {
  color: $maroon;
  
  &:hover, 
  &:active,
  &:focus {
    color: $anchor-color-hover;
  }
}

// Lighter links 

.link-lighter {
  color: lighten($anchor-color, 30%);
  
  &:hover, 
  &:active,
  &:focus {
    color: lighten($anchor-color, 40%);
  }
  
}

// Text utilities

.text-smaller {
  font-size: $medium-font-size;
}

.text-muted {
  color: $umber;
}

// Lists

.dl-slim {
  line-height: 1.5;
  
  dt {
    margin-bottom: 0;
    
    &:after {
      content: ':';
    }
    
  }
  
  dd {
  }
  
}

.abbr-list {
  
  dt {
    display: inline-block;
    float: left;
    clear: left;
    margin-right: 0.5em;
    margin-bottom: 1em;
    
    &:after {
      content: ':';
    }
    
  }
  
  dd {
    display: inline-block;
    float: left;
    margin-bottom: 1em;
  }
  
}

// Back to Top links 

.back-to-top-link {
  @extend .text-smaller;
  display: inline-block;
  margin-top: -0.4em;
  margin-bottom: 0.2em;
  color: $umber;
  clear: both;
  
  &:hover, 
  &:active, 
  &:focus {
    color: $anchor-color-hover;
  }
}

