{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/giza.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">My Giza</a></li>
                <li><a href="#">Giza Library</a></li>
                <li><a href="#">Search the Archives</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Educational Resources</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support Us</a></li>
                <li>
                    <form action="{% url 'search' %}" method="get">
                        <input type="text" name="q"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <input type="submit" value="Search">
                    </form>
                </li>
            </ul>
        </nav>
        
    </header>
    <section id="content">
            {% block content %}{% endblock %}
    </section>
    <footer>
        <ul>
            <li><a href="#">Contact the Giza Project</a></li>
            <li><a href="#">Support the Giza Project</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Legal Information</a></li>
        </ul>
    </footer>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/giza.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
