{% extends 'layouts/default.html' %}
{% load static %}
{% set
  title: "Home",
  section: "home",
  section_home: true
%}

{% block title %}{{ "Home" }}{% endblock %}

<!-- BEGIN MAIN CONTENT ROWS -->

{% block 'content' %}
    <body>
        <div class="grid-x">
            <div class="cell large-4"></div>
            <div class="cell large-4">
                <h1>Internal server error</h1>
            </div>
            <div class="cell large-4"></div>
            <div class="cell large-4"></div>
            <div class="cell large-4">
                <h2>Sorry, there seems to be an error. Please try again soon.</h2>
            </div>
            <div class="cell large-4"></div>
        </div>
    </body>
</html>
{% endblock %}