<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.Number %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>ID</dt>
          <dd>{{ object.Number }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Department %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Department</dt>
          <dd>{{ object.Department }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.ClassificationText %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Classification</dt>
          <dd>{{ object.ClassificationText }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.CreditLine %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Credit Line</dt>
          <dd>{{ object.CreditLine }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
