<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.ConstituentType %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Type</dt>
          <dd>{{ object.ConstituentType }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Gender %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Gender</dt>
          <dd>{{ object.Gender }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.AlternativeNames %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Also Known As</dt>
          {% for name in object.AlternativeNames %}
          <dd>{{ name.Type }} : {{ name.Name }}</dd>
          {% endfor %}
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Remarks %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Remarks</dt>
          <dd>{{ object.Remarks }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
