<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.Department %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Department</dt>
          <dd>{{ object.Department }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Subjects %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Subjects</dt>
          <dd>{{ object.Subjects }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Date %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Date</dt>
          <dd>{{ object.Date }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Remarks %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Remarks</dt>
          <dd>{{ object.Remarks }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.ProblemsQuestions %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Problems/Questions</dt>
          <dd>{{ object.ProblemsQuestions }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% for role in object.Roles %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>{{ role }}</dt>
          {% for item in object.RelatedItems.ModernPeople %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.RelatedItems.AncientPeople %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.RelatedItems.Institutions %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.RelatedItems.Groups %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.RelatedItems.Animals %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
