{% extends "base.html" %}
{% load static %}

{% block body_class %}section-about-body{% endblock %}

{% block title %}Digital Giza | Contact Us{% endblock %}

{% block content %}
<div class="page-header header-bg-6" id="content">
        <div class="row title">
          <header class="large-12 columns">
            <h1>Contact Us <a name="top"></a></h1>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="medium-8 columns">
          <h2>Questions? Comments? Concerns? Let us know.</h2>
          <p class="lead">We’d love to hear from you.  Please <a href="mailto:giza@fas.harvard.edu">email</a> us.</p>
          <!-- <p><em>All fields below are required. Please note: although we make every effort to respond, we are unable to personally reply to every comment.</em></p> -->
        </div>
        <aside class="medium-4 columns">
          <div class="thumbnail"><img src="{% static 'images/contact.jpg' %}" alt="A pyramid."></div>
        </aside>
      </div>

        <!-- <div class="row lines">
          <section class="medium-8 columns">
            <form>
              <label>
                Name:
                <input type="text" placeholder="Type your name here.">
              </label>
              <label>
                Email address:
                <input type="email" placeholder="i.e. jane@example.com">
              </label>
              <label>
                Comment:
                <textarea placeholder="How can we help you?" rows="6"></textarea>
              </label>
              <button type="button" class="button">Submit</button>
            </form>
          </section>
          <aside class="medium-4 columns">
            <div class="thumbnail"><img src="{% static 'images/contact.jpg' %}" alt="A pyramid."></div>
          </aside>
        </div> -->
{% endblock %}
