<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.classificationtext %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Classification</dt>
          <dd>{{ object.classificationtext }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.creditline %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Credit Line</dt>
          <dd>{{ object.creditline }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.period %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Display Page Dates</dt>
          <dd>{{ object.period }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.entrydate %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Display Page Dates</dt>
          <dd>{{ object.entrydate }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% for role in object.roles %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>{{role}}</dt>
          {% for item in object.relateditems.modernpeople %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.relateditems.ancientpeople %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
