{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-diarypage{% endblock %}

{% block title %}Diary Page{% endblock %}

{% block content %}
 <div class="main">
        <div class="main_content">
        {% if object.title %}
        <p><b>Title: </b>{{ object.title }}</p>
        {% endif %}
        {% if object.entrydate %}
        <p><b>Display page dates: </b>{{ object.entrydate }}</p>
        {% endif %}
        {% if object.diarytranscription %}
        <p><b>Diary Transcription: </b><br>{{ object.diarytranscription|linebreaks }}</p>
        {% endif %}
        {% if object.mentioned and object.mentioned.people %}
        <p><b>Mentioned on this page: </b></p>
        {% for mentioned in object.mentioned.people %}
            <span>{{ mentioned.displaytext }}</span><br>
        {% endfor %}
        {% endif %}

        </div>

        <div class="related">
        {% if object.relateditems %}
            <h3>Related Items</h3>
            {% if object.relateditems.sites %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'sites' %}"><img src="{% static 'images/sites.jpg' %}"/><br/>{{ object.relateditems.sites|length }} Site{{ object.relateditems.sites|length|pluralize }}</a></p>
            {% endif %}
            {% if object.relateditems.ancientpeople %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'ancientpeople' %}"><img src="{% static 'images/ancientpeople.jpg' %}"/><br/>{{ object.relateditems.ancientpeople|length }} Ancient P{{ object.relateditems.ancientpeople|length|pluralize:"erson,eople" }}</a></p>
            {% endif %}
            {% if object.relateditems.modernpeople %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'modernpeople' %}"><img src="{% static 'images/modernpeople.jpg' %}"/><br/>{{ object.relateditems.modernpeople|length }} Modern P{{ object.relateditems.modernpeople|length|pluralize:"erson,eople" }}</a></p>
            {% endif %}
            {% if object.relateditems.photos %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'photos' %}"><img src="{% static 'images/photos.jpg' %}"/><br/>{{ object.relateditems.photos|length }} Photo{{ object.relateditems.photos|length|pluralize }}</a></p>
            {% endif %}
            {% if object.relateditems.plansanddrawings %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'plansanddrawings' %}"><img src="{% static 'images/plansanddrawings.jpg' %}"/><br/>{{ object.relateditems.plansanddrawings|length }} Plan{{ object.relateditems.plansanddrawings|length|pluralize }} and Drawing{{ object.relateditems.plansanddrawings|length|pluralize }}</a></p>
            {% endif %}
            {% if object.relateditems.pubdocs %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'pubdocs' %}"><img src="{% static 'images/pubdocs.jpg' %}"/><br/>{{ object.relateditems.pubdocs|length }} Published Document{{ object.relateditems.pubdocs|length|pluralize }}</a></p>
            {% endif %}
            {% if object.relateditems.unpubdocs %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'unpubdocs' %}"><img src="{% static 'images/unpubdocs.jpg' %}"/><br/>{{ object.relateditems.unpubdocs|length }} Unpublished Document{{ object.relateditems.unpubdocs|length|pluralize }}</a></p>
            {% endif %}
            {% if object.relateditems.finds %}
                <p><a href="{% url 'get_type_related_items' 'diarypages' object.id 'finds' %}"><img src="{% static 'images/finds.jpg' %}"/><br/>{{ object.relateditems.finds|length }} Find{{ object.relateditems.finds|length|pluralize }}</a></p>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
