<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.ClassificationText %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Classification</dt>
          <dd>{{ object.ClassificationText }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Department %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Department</dt>
          <dd>{{ object.Department }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.CreditLine %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Credit Line</dt>
          <dd>{{ object.Creditline }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.Period %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Display Page Dates</dt>
          <dd>{{ object.Period }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.EntryDate %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Display Page Dates</dt>
          <dd>{{ object.EntryDate }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% for role in object.Roles %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>{{ role }}</dt>
          {% for item in object.RelatedItems.Modernpeople %}
            {% if item.Role == role %}
            <dd>{{ item.DisplayText }}{% if item.DisplayDate %}, {{ item.DisplayDate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.Relateditems.AncientPeople %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.relateditems.institutions %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.relateditems.groups %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
          {% for item in object.relateditems.animals %}
            {% if item.role == role %}
            <dd>{{ item.displaytext }}{% if item.displaydate %}, {{ item.displaydate }}{% endif %}</dd>
            {% endif %}
          {% endfor %}
        </dl>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
