{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-find{% endblock %}

{% block title %}Find{% endblock %}

{% block content %}
 <div class="main">
        <div class="main_content">
        {% if find.title %}
        <p><b>Title: </b>{{ find.title }}</p>
        {% endif %}
        {% if find.entrydate or find.fieldnumber %}
            <div>
            <span><b>Object register entry:</b></span>
            {% if find.fieldnumber %}
            <br/><span>Field number: {{ find.fieldnumber }}</span>
            {% endif %}
            {% if find.entrydate %}
            <br/><span>Entry date(s): {{ find.entrydate }}</span>
            {% endif %}
            </div>
        {% endif %}
        {% if find.objectownerdetails %}
        <p><b>Object Owner Details: </b>{{ find.objectownerdetails }}</p>
        {% endif %}
        {% if find.provenance %}
        <p><b>Findspot: </b>{{ find.provenance }}</p>
        {% endif %}
        {% if find.medium %}
        <p><b>Medium: </b>{{ find.medium }}</p>
        {% endif %}
        {% if find.dimensions %}
        <p><b>Expedition Measurements: </b>{{ find.dimensions }}</p>
        {% endif %}
        {% if find.description %}
        <p><b>Description: </b>{{ find.description }}</p>
        {% endif %}
        {% if find.notes %}
        <p><b>Notes: </b>{{ find.notes }}</p>
        {% endif %}
        {% if find.pubreferences %}
        <p><b>Selected Published References: </b>{{ find.pubreferences }}</p>
        {% endif %}
        </div>

        <div class="related">
        {% if find.relateditems %}
            <h3>Related Items</h3>
            {% if find.relateditems.sites %}
                <p><a href="{% url 'get_find_related_items' find.id 'sites' %}"><img src="{% static 'images/sites.jpg' %}"/><br/>{{ find.relateditems.sites|length }} Site{{ find.relateditems.sites|length|pluralize }}</a></p>
            {% endif %}
            {% if find.relateditems.ancientpeople %}
                <p><a href="{% url 'get_find_related_items' find.id 'ancientpeople' %}"><img src="{% static 'images/ancient.jpg' %}"/><br/>{{ find.relateditems.ancientpeople|length }} Ancient P{{ find.relateditems.ancientpeople|length|pluralize:"erson,eople" }}</a></p>
            {% endif %}
            {% if find.relateditems.modernpeople %}
                <p><a href="{% url 'get_find_related_items' find.id 'modernpeople' %}"><img src="{% static 'images/modern.jpg' %}"/><br/>{{ find.relateditems.modernpeople|length }} Modern P{{ find.relateditems.modernpeople|length|pluralize:"erson,eople" }}</a></p>
            {% endif %}
            {% if find.relateditems.photos %}
                <p><a href="{% url 'get_find_related_items' find.id 'photos' %}"><img src="{% static 'images/photos.jpg' %}"/><br/>{{ find.relateditems.photos|length }} Photo{{ find.relateditems.photos|length|pluralize }}</a></p>
            {% endif %}
            {% if find.relateditems.plansanddrawings %}
                <p><a href="{% url 'get_find_related_items' find.id 'plansanddrawings' %}"><img src="{% static 'images/plans.jpg' %}"/><br/>{{ find.relateditems.plansanddrawings|length }} Plan{{ find.relateditems.plansanddrawings|length|pluralize }} and Drawing{{ find.relateditems.plansanddrawings|length|pluralize }}</a></p>
            {% endif %}
            {% if find.relateditems.publisheddocuments %}
                <p><a href="{% url 'get_find_related_items' find.id 'publisheddocuments' %}"><img src="{% static 'images/published.jpg' %}"/><br/>{{ find.relateditems.publisheddocuments|length }} Published Document{{ find.relateditems.publisheddocuments|length|pluralize }}</a></p>
            {% endif %}
            {% if find.relateditems.unpublisheddocuments %}
                <p><a href="{% url 'get_find_related_items' find.id 'unpublisheddocuments' %}"><img src="{% static 'images/unpublished.jpg' %}"/><br/>{{ find.relateditems.unpublisheddocuments|length }} Unpublished Document{{ find.relateditems.unpublisheddocuments|length|pluralize }}</a></p>
            {% endif %}
            {% if find.relateditems.diarypages %}
                <p><a href="{% url 'get_find_related_items' find.id 'diarypages' %}"><img src="{% static 'images/diaries.jpg' %}"/><br/>{{ find.relateditems.diarypages|length }} Diary Page{{ find.relateditems.diarypages|length|pluralize }}</a></p>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
