{% extends "base.html" %}
{% load static %}

{% block body_class %}section-home-body{% endblock %}

{% block title %}Digital Giza | Home{% endblock %}

{% block content %}
<div class="home-hero-container">
        <div class="row row-padded">

            <div class="video-bg-home">
                <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; -webkit-background-size: cover; background-size: cover; background-color: transparent; background-image: none; background-position: 0% -5%; background-repeat: no-repeat no-repeat;">
                  <video autoplay loop muted style="margin: auto; position: absolute; z-index: -1; top: -5%; left: 0%; visibility: visible; opacity: 1; width: 1172px; height: auto;">
                    <source src="http://gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.webm" type="video/webm">
                    <source src="http://gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.ogv" type="video/ogg">
                    <source src="http://gizamedia.rc.fas.harvard.edu/images/website/GizaHome_web.mp4" type="video/mp4">
                  </video>
                </div>
                <div class="home-hero-title">
                    <h1><span class="title-text-alt">Welcome to the</span> Giza Plateau</h1>
                </div>

                <div class="home-hero-content">
                  <div class="medium-8 columns">
                    <p class="lead text-alt" style="line-height: 1.4">The Giza Project gives you access to the largest collection of information, media, and research materials ever assembled about the Pyramids and related sites on Egypt&rsquo;s Giza Plateau. </p>
                  </div>
                  <div class="medium-4 columns">
                    <form action="{% url 'results' %}">
                        <p class="text-alt" style="color: #fff; margin-bottom: 0.1rem;"><em>Search the archives:</em></>
                      <div class="input-group" style="margin-bottom: 0.1rem;">
                        <input class="input-group-field" type="text" name="q" placeholder="Search">
                        <div class="input-group-button">
                          <button type="submit" class="button icon-search"></button>
                        </div>
                      </div>
                    </form>
                    <small>or go to <a class="link-lighter" href="{% url 'search' %}">Advanced Search</a></small>
                  </div>
                </div>

                <div class="home-hero-overlay"></div>

              </div>

              <!--<div id="hero-home" data-interchange="[partials/home/small.html, small], [partials/home/medium.html, medium], [partials/home/large.html, large]"></div> -->

        </div>
      </div>

      <div class="row" data-equalizer data-equalize-on="medium">
              <section class="medium-6 columns">
                <div class="secondary feature-block" data-equalizer-watch>
                  <p>New to Giza? <a href="{% url 'get_type_html' '3dmodels' '71017' 'intro' %}">Explore Giza 3D.</a></p>
        <a href="{% url 'get_type_html' 'videos' '87541' 'intro' %}"><img src="{% static 'images/home-giza3d.png' %}" alt="appropriate alt"></a>
      </div>
          </section>
          <section class="medium-6 columns">
            <div class="secondary feature-block" data-equalizer-watch>
              <p>Like what we do? <a href="{% url 'donate' 'donate' %}">Support our project.</a></p>
              <blockquote class="home-quote">
                <p>The Giza Project, an international collaboration based at Harvard University, aims to assemble and provide access to all archaeological records about the most famous site in the world: the Pyramids, surrounding cemeteries, and settlements of Giza, Egypt.  <a href="{% url 'about' 'about' %}">Read more</a></p>
              </blockquote>
              <p class="text-right"><a href="{% url 'donate' 'donate' %}" class="button primary">Donate now</a></p>
            </div>
          </section>
        </div>
{% endblock %}
