<div class="feature-block__body">
  <ul class="feature-block__list multicol-2">
    {% if object.constituenttype %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Type</dt>
          <dd>{{ object.constituenttype }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.institution %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Institution</dt>
          <dd>{{ object.institution }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.displaydate %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Nationality and Dates</dt>
          <dd>{{ object.displaydate }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.altnames %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Also Known As</dt>
          {% for name in object.altnames %}
          <dd>{{ name }}</dd>
          {% endfor %}
        </dl>
      </div>
    </li>
    {% endif %}
    {% if object.remarks %}
    <li>
      <div class="media-object list-item list-item-textinfo">
        <dl class="dl-slim">
          <dt>Remarks</dt>
          <dd>{{ object.remarks }}</dd>
        </dl>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
