{% extends "base.html" %}
{% load static %}

{% block body_class %}section-about-body{% endblock %}

{% block title %}Digital Giza | News{% endblock %}

{% block content %}
<div class="page-header header-bg-6">
        <div class="row title">
          <header class="large-12 columns">
            <h1>News <a name="top"></a></h1>
          </header>
        </div>
      </div>

        <div class="row">
          <aside class="medium-4 medium-push-8 columns">
            <div class="feature-block secondary">
              <h5><span class="icon-list icon-padded"></span> News Topics</h5>
              <ul class="menu vertical">
                <li><a href="#">Egyptian Geography <span class="secondary badge">13</span></a></li>
                <li><a href="#">Old Kingdom <span class="secondary badge">32</span></a></li>
                <li><a href="#">Pyramid Complexes <span class="secondary badge">91</span></a></li>
                <li><a href="#">Boats <span class="secondary badge">4</span></a></li>
                <li><a href="#">Egyptian funerary beliefs <span class="secondary badge">36</span></a></li>
                <li><a href="#">Mummies <span class="secondary badge">10</span></a></li>
                <li><a href="#">Women at Giza <span class="secondary badge">2</span></a></li>
                <li><a href="#">Writing/Hieroglyphs <span class="secondary badge">6</span></a></li>
                <li><a href="#">Gods and Goddesses <span class="secondary badge">42</span></a></li>
                <li><a href="#">See All Topics &gt; </a></li>
              </ul>
            </div>
          </aside>
          <section class="medium-8 medium-pull-4 columns">
            <article>
              <h3><a href="#">News Item Title</a></h3>
              <p class="author">Author Name</p>
              <p class="date">Date of publication</p>
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
                  </div>
                </div>
                <div class="media-object-section">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur ad ab libero facere inventore.  <a href="#">Read More &gt;</a></p>
                </div>
              </div>
            </article>
            <article>
              <h3><a href="#">News Item Title</a></h3>
              <p class="author">Author Name</p>
              <p class="date">Date of publication</p>
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
                  </div>
                </div>
                <div class="media-object-section">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur ad ab libero facere inventore.  <a href="#">Read More &gt;</a></p>
                </div>
              </div>
            </article>
            <article>
              <h3><a href="#">News Item Title</a></h3>
              <p class="author">Author Name</p>
              <p class="date">Date of publication</p>
              <div class="media-object">
                <div class="media-object-section">
                  <div class="thumbnail">
                    <a href="#"><img src="{% static 'images/blogphoto.png' %}" alt="appropriate alt"></a>
                  </div>
                </div>
                <div class="media-object-section">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur ad ab libero facere inventore.  <a href="#">Read More &gt;</a></p>
                </div>
              </div>
            </article>

            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
              <li class="pagination-previous disabled">Previous</li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li><a href="#" aria-label="Page 4">4</a></li>
              <li class="ellipsis"></li>
              <li><a href="#" aria-label="Page 12">12</a></li>
              <li><a href="#" aria-label="Page 13">13</a></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
            </ul>
          </section>
        </div>
{% endblock %}
