<dl>
  {% for person in object.relateditems.ancientpeople %}
    {% if person.role %}<dt>{{person.role}}: </dt>{% endif %}
    <dd>{{ person.displayname|default:"" }}</dd>
  {% endfor %}
  {% for person in object.relateditems.modernpeople %}
    {% if person.role %}<dt>{{person.role}}: </dt>{% endif %}
    <dd>{{ person.displayname|default:"" }} {% if person.displaydate %}<br/>{{ person.displaydate }}{% endif %}</dd>
  {% endfor %}
  {% for altnum in object.altnums %}
      {% if altnum.description %}<dt>{{ altnum.description }}: </dt>{% endif %}
      <dd>{{ altnum.altnum|default:"" }}</dd>
  {% endfor %}
  {% for sitedate in object.sitedates %}
      {% if sitedate.type %}<dt>{{ sitedate.type }}: </dt>{% endif %}
      <dd>{{ sitedate.date|default:"" }}</dd>
  {% endfor %}
    <dt>EXTRA DATA NOT IN TEMPLATE</dt>
  {% if object.sitetype %}<dd>{{ object.sitetype.sitetype }}</dd>{% endif %} <!-- Add search by sitetype id -->
  {% if object.shafts %}<dd>Shafts : {{ object.shafts }}</dd>{% endif %}
</dl>
